## 02 Data cleaning

> This notebook cleans the data and prepare it for the data exploration and the tableau visualizations 

>The aim is to deal with nans. As we have seen there is a lot. Also to delete data we don¬¥t need and prepare some outputs to be
>used in Tableau
>For EDA check next notebook and Tableau dashboards

In [1]:
import pandas as pd
import warnings

# ‚öôÔ∏è Settings
pd.set_option('display.max_columns', None) # display all columns
pd.set_option('display.max_rows', None) # display all rows 
warnings.filterwarnings('ignore') # ignore warnings

In [2]:
# üîß Basic functions
def open_data(data): # returns shape, data types & shows a small sample
    print(f"Data shape is {data.info()}.\n")
    return data.sample(5)

def clean_columns(data): # clean columns names
    data.columns = [column.lower().replace(' ', '_') for column in data.columns]
    return data.sample(0)

def explore_data(data): # sum & returns duplicates, NaN & empty spaces added a table with percentage missing
    duplicate_rows = data.duplicated().sum()
    nan_values = data.isna().sum()
    empty_spaces = data.eq(' ').sum()
    exploration = pd.DataFrame({"NaN": nan_values, "EmptySpaces": empty_spaces}) # New dataframe with the results
    print(f"There are {data.duplicated().sum()} duplicate rows. Also;")
    nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
    nulls.sort_values('percentage', ascending = False)
    print(nulls)
    return exploration

#### import_data

In [3]:
data_df=pd.read_csv('D:\Ironhack\datos_proyecto\clean_data\out.csv')

In [4]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18154 entries, 0 to 18153
Columns: 277 entries, cities to NAME
dtypes: float64(273), int64(1), object(3)
memory usage: 38.4+ MB

In [5]:
#Sort values to be able to process the function
#This is needed to apply next function
data_df=data_df.sort_values(by=['cities','TIME_PERIOD'],ascending=[True,False])

##### Create a dataframe with one city and all the variables. 

Here I get per city the most updated value for each variable. I don¬¥t use the time series I get the most updated value for each variable.

In [6]:
columns = data_df.columns #column names
subsets = data_df['cities'].unique() # we need one row per city

# Create an empty DataFrame to store the results
result_df = pd.DataFrame(columns=columns)

# Loop through each city. All years. 
for subset in subsets:
    subset_data = data_df[data_df['cities'] == subset]
    subset_values = {}

    # Loop through each column
    for column in columns:
        column_values = subset_data[column]

        # Find the first non-null value. I have ordered the dataframe to have the newest the first
        first_non_null = column_values.dropna().iloc[0] if not column_values.isnull().all() else None

        # Store the first non-null value for the column
        subset_values[column] = first_non_null

    # Convert the subset_values dictionary to a DataFrame
    subset_df = pd.DataFrame(subset_values, index=[0])

    # Concatenate the subset DataFrame to the result DataFrame
    result_df = pd.concat([result_df, subset_df], ignore_index=True)

In [7]:
result_df.shape

(910, 277)

In [8]:
result_df.sample(10)

,cities,TIME_PERIOD,TE1001I,TE1001V,TE1026I,TE1026V,TE1027V,TE1028V,TE1039V,TE1040V,TE1041V,TE2025V,TE2028I,TE2028V,TE2031I,TE2031V,EN1002V,EN1003V,EN1004V,EN1005V,EN2002V,EN2003V,EN2005V,EN2025V,EN2026V,EN2027V,EN2029I,EN2032I,EN2033I,EN2035I,EN2036I,EN3003V,EN3010V,EN3011V,EN3012V,EN3013V,EN4008V,EN5200V,EN5201V,EN5202V,EN5203V,EN5204V,EN5205V,EN5206V,EN5207V,SA2004I,SA2004V,SA2007I,SA2007V,SA2010V,SA2013V,SA2016V,SA2017V,SA2018V,SA2019V,SA2020V,SA2021V,SA2029I,DE3001V,DE3002I,DE3002V,DE3004I,DE3005I,DE3005V,DE3008I,DE3008V,DE3011I,DE3011V,DE3016I,DE3017V,EC3039V,EC3040V,EC3064V,EC3065V,EC3066V,EC3067V,SA1001V,SA1004V,SA1005V,SA1007I,SA1007V,SA1008I,SA1008V,SA1011I,SA1011V,SA1012V,SA1013V,SA1018V,SA1022V,SA1025V,SA1029V,SA1049V,SA1050V,SA1051V,SA1052V,SA1053V,SA3005V,EC1001I,EC1002I,EC1002V,EC1003I,EC1003V,EC1010V,EC1011I,EC1011V,EC1012I,EC1012V,EC1020I,EC1145V,EC1146V,EC1147V,EC1174V,EC1175V,EC1176V,EC1177V,EC1178V,EC1179V,EC1180V,EC1181V,EC1182V,EC2008V,EC2009V,EC2020V,EC2022V,EC2032V,EC2033V,EC2034V,EC2035V,EC2036V,EC2037V,EC2038V,DE1001V,DE1002V,DE1003V,DE1025V,DE1026V,DE1027V,DE1028V,DE1029V,DE1030V,DE1040V,DE1041V,DE1042V,DE1046V,DE1047V,DE1048V,DE1049V,DE1050V,DE1051V,DE1055V,DE1056V,DE1057V,DE1058V,DE1059V,DE1060V,DE1061V,DE1062V,DE1063V,DE1064V,DE1065V,DE1066V,DE1074V,DE1075V,DE1076V,DE1077V,DE1078V,DE1079V,DE1101V,DE1102V,DE1103V,DE1104V,DE1105V,DE1106V,DE1107V,DE1108V,DE1109V,DE1110V,DE1111V,DE1112V,DE1113V,DE1114V,DE1115V,DE1116V,DE1117V,DE1118V,DE1119V,DE1120V,DE1121V,DE1122V,DE1123V,DE1124V,DE1125V,DE1126V,DE1127V,DE1128V,DE1129V,DE1130V,DE1131V,DE1132V,DE1133V,DE1134V,DE1135V,DE1136V,DE1137V,DE1138V,DE1139V,DE2001I,DE2001V,DE2002I,DE2002V,DE2003I,DE2003V,DE2007I,DE2008I,DE2008V,DE2009I,DE2009V,DE2010V,DE2011V,DE2012V,DE4001V,DE4002V,DE4003V,DE4004V,DE4005V,TT1003V,TT1006V,TT1007V,TT1008V,TT1010V,TT1012V,TT1019V,TT1020V,TT1057I,TT1057V,TT1060I,TT1060V,TT1064V,TT1065V,TT1079V,TT1080V,TT1081V,CR1003I,CR1003V,CR1005V,CR1007V,CR1008V,CR1010V,CR1015V,CR2001V,CR2009V,CR2010I,CR2010V,CR2011I,CR2011V,DE1003I,DE1025I,DE1028I,DE1040I,DE1046I,DE1049I,DE1055I,DE1057I,DE1058I,DE1059I,DE1060I,DE1061I,DE1064I,DE1073I,DE1073V,DE1076I,DE1084I,DE1085I,EC2021V,EC2039V,CODE,NAME
682,PT014C,2022,None,None,0.0,190.0,143.0,47.0,None,None,None,5538.0,29.0,4880.0,13.0,2933.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,33190680.0,None,None,100.0,93.0,195638.0,None,None,None,None,None,None,None,None,4.0,12.0,7.0,2736.0,72.0,113.0,404.0,252.0,217.0,3500.0,1809.0,1691.0,9.0,153222.0,25.0,37771.0,2.0,3.0,5119.0,36.0,55694.0,19.0,28497.0,18.0,381328.0,None,None,None,None,None,None,184483.0,44704.0,11681.0,None,35068.0,None,108721.0,78.0,105214.0,1638.0,27249.0,934.0,37.0,153147.0,None,7.0,342970.0,133378.0,1957.0,1536.0,3.0,68.0,74.0,99888.0,63.0,94950.0,17736.0,8.0,7833.0,10.0,9903.0,9.0,21833.0,11295.0,10538.0,188883.0,91662.0,97221.0,171685.0,84110.0,87575.0,18879.0,9753.0,9126.0,1033.0,18260.0,116817.0,12492.0,39098.0,2697.0,712.0,2416.0,26192.0,8384.0,6245.0,385777.0,181561.0,204216.0,49173.0,23246.0,25927.0,38190.0,17067.0,21123.0,18266.0,9305.0,8961.0,21987.0,11211.0,10776.0,23895.0,11928.0,11967.0,28657.0,11518.0,17139.0,43495.0,20616.0,22879.0,55898.0,25685.0,30213.0,65906.0,31190.0,34716.0,18113.0,9129.0,8984.0,20457.0,10373.0,10084.0,23818.0,11711.0,12107.0,23924.0,11464.0,12460.0,24513.0,11660.0,12853.0,28272.0,13189.0,15083.0,31845.0,14851.0,16994.0,30459.0,14030.0,16429.0,27339.0,12661.0,14678.0,22922.0,10499.0,12423.0,19748.0,8781.0,10967.0,17708.0,7772.0,9936.0,14206.0,6219.0,7987.0,9590.0,3901.0,5689.0,8715.0,2877.0,5838.0,100.0,385606.0,1.0,4500.0,10.0,37975.0,11.0,81.0,312991.0,19.0,72615.0,10036.0,62579.0,42475.0,325081.0,22107.0,28055.0,813.0,793.0,69.01,0.68,0.29,12.86,15.31,69.69,23.76,None,None,None,0.16,6.0,31825.0,110110.0,None,73.75,None,5.0,2054.0,85017.0,819989.0,6.0,None,None,247778.0,2586.0,7.0,158394.0,1.0,89384.0,112.5,12.7,9.8,4.7,5.7,6.2,7.4,148.8,64.8,36.4,28.4,-0.1,17.0,11.2,43.0,14.4,4.7,5.3,35916.0,40841.0,PT014C,Sintra
556,NL010C,2021,None,None,31.0,2069.0,1062.0,1007.0,None,None,None,15690.0,63.0,22360.0,37.0,13180.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,1.31,100.0,100.0,100.0,414.0,2.9,8.36,9.38,5.16,0.74,5.25,47.12,21.09,4.0,3.0,10.0,669.0,2.0,None,82.0,45.0,37.0,771.0,379.0,392.0,11.0,30577.0,35.0,10796.0,2.0,5.0,1381.0,14.0,4320.0,23.0,6950.0,20.0,66152.0,28700.0,33000.0,12.0,13.0,None,None,30921.0,21551.0,9333.0,None,None,None,None,None,None,None,None,None,None,1354.0,None,None,None,None,None,None,15.0,60.0,62.0,19.0,57.0,17.0,1.0,5.0,1.0,6.0,1.0,3.0,3000.0,2000.0,1000.0,31120.0,15523.0,15597.0,30349.0,15211.0,15138.0,7532.0,4076.0,3456.0,100.0,4400.0,30600.0,1200.0,8300.0,300.0,400.0,300.0,5300.0,9700.0,600.0,67514.0,33539.0,33975.0,9876.0,4951.0,4925.0,8489.0,4198.0,4291.0,3201.0,1633.0,1568.0,3812.0,1946.0,1866.0,3651.0,1966.0,1685.0,6165.0,2648.0,3517.0,7817.0,3853.0,3964.0,7594.0,3808.0,3786.0,10081.0,4994.0,5087.0,3324.0,1724.0,1600.0,3469.0,1766.0,1703.0,3777.0,1877.0,1900.0,4020.0,2019.0,2001.0,3876.0,1925.0,1951.0,3785.0,1884.0,1901.0,4411.0,2164.0,2247.0,5272.0,2622.0,2650.0,5319.0,2683.0,2636.0,4692.0,2348.0,2344.0,4309.0,2108.0,2201.0,4236.0,2095.0,2141.0,2914.0,1368.0,1546.0,1890.0,878.0,1012.0,1556.0,533.0,1023.0,93.0,63119.0,4.0,3003.0,2.0,1392.0,7.0,86.0,58113.0,14.0,9401.0,2691.0,6710.0,4395.0,None,None,None,None,None,None,None,None,None,None,None,None,None,471.1,31806.0,0.6,4.0,15848.0,13955.0,507.0,None,None,None,None,None,None,2.0,2.0,1.0,280234.0,None,None,211417.0,4.0,68817.0,101.3,14.6,12.6,4.7,5.6,5.4,9.1,132.8,73.4,35.7,37.6,0.0,14.9,11.6,45.0,11.3,4.9,5.1,4525.0,5090.0,NL010C,Bergen op Zoom
423,HU008C,2021,696.0,3907.0,31.0,3437.0,2198.0,1239.0,None,None,None,7497.0,56.0,35282.0,31.0,19253.0,5.62,22.8,-2.1,880.8,None,None,None,None,None,None,None,NaN,None,NaN,NaN,6021510.0,1.92,100.0,96.59,69.84,16.52,None,None,None,None,None,None,None,None,6.0,6.0,10.0,1073.0,32.0,98.0,326.0,200.0,126.0,1590.0,770.0,820.0,15.0,46313.0,32.0,14786.0,2.0,5.0,2302.0,13.0,6087.0,27.0,12321.0,19.0,108066.0,None,None,None,None,None,None,52636.0,24024.0,25423.0,None,24160.0,4.0,1919.0,86.0,39837.0,1483.0,4788.0,1938.0,31.0,4778.0,291.0,None,97847.0,65482.0,882.0,1195.0,1.0,60.0,69.0,30031.0,52.0,26040.0,2147.0,4.0,986.0,6.0,1161.0,5.0,8742.0,4842.0,3900.0,54655.0,29191.0,25464.0,52490.0,27916.0,24574.0,8418.0,4697.0,3721.0,1151.0,11491.0,47779.0,2863.0,12350.0,956.0,1072.0,430.0,3586.0,11813.0,2067.0,109651.0,51644.0,58007.0,14353.0,6322.0,8031.0,11395.0,4603.0,6792.0,5613.0,2873.0,2740.0,5991.0,2933.0,3058.0,5672.0,2921.0,2751.0,7922.0,2606.0,5316.0,13703.0,6971.0,6732.0,18740.0,9240.0,9500.0,14721.0,7065.0,7656.0,5769.0,2989.0,2780.0,5915.0,2962.0,2953.0,6576.0,3459.0,3117.0,6685.0,3455.0,3230.0,7249.0,3568.0,3681.0,9546.0,4746.0,4800.0,9167.0,4525.0,4642.0,7522.0,3564.0,3958.0,6129.0,2861.0,3268.0,6707.0,2904.0,3803.0,7069.0,2897.0,4172.0,5423.0,2122.0,3301.0,4046.0,1484.0,2562.0,2570.0,827.0,1743.0,2002.0,554.0,1448.0,98.0,107496.0,0.0,508.0,1.0,813.0,1.0,94.0,103108.0,5.0,5709.0,2722.0,2987.0,1321.0,None,None,None,None,None,14702.0,8070.0,None,6581.0,None,None,None,None,464.29,50910.0,0.46,5.0,10953.0,3513.0,46.1,19.52,6.0,10.0,1059.0,295799.0,28161.0,2.0,20.0,None,91628.0,2276.0,21.0,122943.0,1.0,31315.0,112.3,13.0,10.3,5.1,5.5,5.2,7.2,204.0,63.0,34.6,28.5,-0.7,13.3,12.4,41.9,16.9,5.3,5.4,9524.0,None,HU008C,Kecskem√©t
562,NL016C,2021,None,None,39.0,2892.0,1361.0,1531.0,None,None,None,15230.0,55.0,21250.0,50.0,19190.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,1.81,100.0,100.0,100.0,333.0,10.23,24.8,18.36,11.35,2.97,12.26,18.24,1.79,1.0,1.0,11.0,814.0,4.0,None,83.0,54.0,29.0,727.0,357.0,370.0,10.0,33744.0,39.0,13113.0,2.0,4.0,1486.0,13.0,4544.0,23.0,7829.0,19.0,72496.0,29600.0,34300.0,11.0,13.0,None,None,33725.0,19522.0,13917.0,None,None,None,None,None,None,None,None,None,None,1097.0,None,None,None,None,None,None,10.0,65.0,68.0,21.0,62.0,20.0,2.0,5.0,1.0,5.0,1.0,5.0,7000.0,3000.0,3000.0,34882.0,17562.0,17320.0,34050.0,16985.0,17066.0,5981.0,2516.0,3466.0,27.0,3200.0,37000.0,1277.0,7000.0,2300.0,1300.0,200.0,5900.0,14500.0,1000.0,73681.0,36244.0,37437.0,9928.0,4865.0,5063.0,8033.0,3882.0,4151.0,3804.0,1912.0,1892.0,4442.0,2231.0,2211.0,4250.0,2114.0,2136.0,6050.0,2498.0,3552.0,9796.0,5026.0,4770.0,8662.0,4317.0,4345.0,10187.0,5065.0,5122.0,3877.0,1988.0,1889.0,4097.0,2052.0,2045.0,5086.0,2570.0,2516.0,4908.0,2541.0,2367.0,4435.0,2211.0,2224.0,4305.0,2161.0,2144.0,4712.0,2302.0,2410.0,5361.0,2696.0,2665.0,5254.0,2610.0,2644.0,4742.0,2333.0,2409.0,4235.0,2014.0,2221.0,4082.0,1978.0,2104.0,2562.0,1182.0,1380.0,1802.0,783.0,1019.0,1727.0,566.0,1161.0,94.0,69297.0,3.0,2558.0,2.0,1826.0,6.0,86.0,63077.0,14.0,10604.0,2399.0,8205.0,4384.0,None,None,None,None,None,None,None,None,None,None,None,None,None,374.93,27625.0,None,None,26284.0,19756.0,300.0,None,None,None,None,None,None,2.0,5.0,1.0,62223.0,None,None,36928.0,1.0,25295.0,103.3,13.5,10.9,5.2,6.0,5.8,8.2,142.2,71.4,38.5,32.9,0.3,13.9,13.3,41.0,11.8,5.3,5.6,4845.0,5915.0,NL016C,Gouda
604,PL005C,2018,500.0,14632.0,139.0,74714.0,31738.0,42976.0,None,None,None,16149.0,54.0,177357.0,37.0,123219.0,5.0,19.7,0.6,664.0,6.0,0.0,36.3,3076.0,19.5,26.9,None,None,None,None,None,37042100.0,1.11,None,None,None,224.2,None,None,None,None,None,None,None,None,3.0,16.0,12.0,6240.0,None,241.0,1176.0,784.0,392.0,5864.0,2862.0,3002.0,11.0,232567.0,33.0,77314.0,2.0,3.0,7723.0,12.0,28439.0,24.0,55921.0,14.0,549032.0,None,None,None,None,None,None,261845.0,33653.0,192529.0,11.0,26396.0,89.0,207428.0,8.0,19114.0,22520.0,26330.0,9594.0,32.0,12181.0,499.0,103.0,143889.0,1442.0,None,None,6.0,None,61.0,139623.0,48.0,129469.0,4214.0,15.0,1767.0,14.0,2447.0,None,22132.0,13144.0,8988.0,None,None,None,None,None,None,None,None,None,517.0,41321.0,246076.0,9277.0,58022.0,13627.0,11214.0,3823.0,38649.0,65310.0,4316.0,536438.0,250244.0,286194.0,69017.0,30958.0,38059.0,65594.0,27069.0,38525.0,29262.0,15022.0,14240.0,19692.0,10020.0,9672.0,21398.0,10899.0,10499.0,43944.0,14731.0,29213.0,84361.0,40728.0,43633.0,94109.0,46576.0,47533.0,59998.0,29105.0,30893.0,26196.0,13489.0,12707.0,22867.0,11647.0,11220.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,100.0,553879.0,0.0,330.0,0.0,487.0,0.0,99.0,547664.0,1.0,7032.0,3501.0,3531.0,817.0,None,None,None,None,None,None,None,None,None,None,None,None,None,725.08,388958.0,0.48,26.0,61488.0,14209.0,242.5,23.23,3.87,32.0,17280.0,3558291.0,403731.0,8.0,41.0,11.0,1484056.0,9410.0,18.0,None,3.0,None,114.4,12.9,12.2,5.5,3.7,4.0,8.2,198.3,63.1,29.8,33.3,-0.4,11.2,15.7,41.6,17.5,4.9,4.3,99420.0,None,PL005C,Pozna≈Ñ
648,PL049C,2018,565.0,1363.0,4.0,201.0,107.0,94.0,None,None,None,10323.0,None,None,46.0,16769.0,None,None,None,None,None,None,62.0,None,None,36.9,None,None,None,None,None,2911100.0,0.92,None,None,None,19.8,None,None,None,None,None,None,None,None,4.0,2.0,9.0,489.0,None,49.0,209.0,144.0,65.0,679.0,341.0,338.0,12.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,24437.0,None,None,None,None,None,None,None,None,None,None,6268.0,27.0,1421.0,106.0,None,None,None,None,None,1.0,None,None,None,None,None,1050.0,None,470.0,None,580.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,18853.0,None,None,None,None,None,None,None,None,57310.0,27108.0,30202.0,8684.0,3987.0,4697.0,7603.0,3172.0,4431.0,2411.0,1236.0,1175.0,2264.0,1189.0,1075.0,2708.0,1351.0,1357.0,4744.0,1538.0,3206.0,7779.0,3963.0,3816.0,9232.0,4735.0,4497.0,6904.0,3364.0,3540.0,2512.0,1334.0,1178.0,2469.0,1239.0,1230.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,100.0,60347.0,0.0,41.0,0.0,49.0,0.0,96.0,58046.0,4.0,2391.0,871.0,1520.0,90.0,None,None,None,None,None,None,None,None,None,None,None,None,None,1241.19,74736.0,0.34,2.0,None,None,23.5,20.91,3.56,18.0,1038.0,219836.0,15207.0,0.0,5.0,2.0,38323.0,681.0,12.0,None,1.0,None,111.4,15.2,13.3,4.2,4.0,4.7,8.3,208.5,62.3,27.3,35.0,-0.6,12.0,13.6,44.2,16.1,4.4,4.3,8236.0,None,PL049C,≈öwidnica
308,ES087C,2020,626.0,1859.0,130.0,8360.0,3521.0,4839.0,None,None,None,7099.0,36.0,13839.0,44.0,17082.0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None,None,3.63,24.17,6.37,2.28,3.23,1.89,5.28,53.15,0.0,0.0,8.0,492.0,8.0,20.0,85.0,55.0,30.0,527.0,274.0,253.0,8.0,22563.0,23.0,5191.0,3.0,3.0,786.0,8.0,1736.0,33.0,7532.0,10.0,63709.0,None,29640.0,None,None,None,None,27538.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,8.0,None,None,None,None,1.0,64.0,69.0,17377.0,59.0,16621.0,4612.0,13.0,2316.0,14.0,2296.0,14.0,4700.0,2519.0,2181.0,32918.0,16795.0,16123.0,28463.0,14565.0,13898.0,4113.0,2192.0,1921.0,90.0,803.0,16131.0,1051.0,6349.0,288.0,233.0,248.0,3139.0,2925.0,1005.0,64378.0,31210.0,33168.0,7709.0,3713.0,3996.0,4582.0,2124.0,2458.0,2969.0,1533.0,1436.0,3692.0,1912.0,1780.0,3574.0,1810.0,1764.0,3773.0,1482.0,2291.0,8050.0,4012.0,4038.0,10802.0,5312.0,5490.0,10879.0,5271.0,5608.0,3286.0,1675.0,1611.0,3666.0,1820.0,1846.0,3976.0,1990.0,1986.0,4179.0,2097.0,2082.0,4785.0,2313.0,2472.0,5611.0,2758.0,2853.0,5548.0,2714.0,2834.0,5362.0,2540.0,2822.0,4889.0,2343.0,2546.0,3695.0,1779.0,1916.0,2717.0,1250.0,1467.0,2273.0,1041.0,1232.0,1651.0,705.0,946.0,1136.0,440.0,696.0,1369.0,490.0,879.0,82.0,52904.0,6.0,3611.0,12.0,7863.0,18.0,75.0,48348.0,25.0,16030.0,3317.0,12713.0,11474.0,57372.0,2626.0,2492.0,130.0,1243.0,None,None,None,None,None,None,None,None,479.84,30891.0,0.0,0.0,None,None,None,None,None,30.0,1929.0,110278.0,None,None,2.0,None,None,None,None,None,None,None,106.3,12.2,7.3,4.6,5.7,5.6,6.0,154.6,54.1,33.6,20.4,1.1,17.2,12.8,41.9,17.1,5.1,5.7,None,4463.0,ES087C,Collado Villalba
181,DE107C,2021,484.0,3200.0,70.0,8791.0,5407.0,3384.0,10.0,11.0,9.0,14344.0,49.0,33624.0,26.0,17994.0,5.7,19.3,2.0,654.0,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,7282000.0,2.42,100.0,99.84,99.85,60847.0,2.56,11.81,9.8,5.75,0.86,4.39,48.84,15.99,8.0,10.0,11.0,1348.0,15.0,39.0,10.0,104.0,66.0,1499.0,782.0,717.0,12.0,64800.0,44.0,28200.0,2.0,3.0,2100.0,14.0,9300.0,16.0,10100.0,20.0,122600.0,30384.0,34992.0,5.0,17.0,None,None,62414.0,18983.0,41299.0,33.0,18751.0,67.0,43458.0,45.0,22970.0,None,None,None,48.0,None,None,90.0,525000.0,150500.0,3500.0,2150.0,7.0,63.0,70.0,37787.0,56.0,29707.0,3370.0,5.0,2010.0,5.0,1360.0,5.0,12021.0,6419.0,5602.0,65920.0,37017.0,28903.0,62875.0,35202.0,27673.0,11690.0,6237.0,5453.0,384.0,14553.0,85295.0,3582.0,18580.0,3232.0,2757.0,735.0,12667.0,24283.0,4522.0,126458.0,63756.0,62702.0,16166.0,7572.0,7790.0,11132.0,5050.0,6082.0,6615.0,3376.0,3239.0,6217.0,3216.0,3001.0,8144.0,4267.0,3877.0,13322.0,5319.0,8003.0,19149.0,10275.0,8379.0,16412.0,8472.0,7733.0,17100.0,9311.0,8478.0,5914.0,3078.0,2836.0,5966.0,3057.0,2909.0,9514.0,5240.0,4274.0,9508.0,5265.0,4243.0,8423.0,4528.0,3895.0,8152.0,4229.0,3923.0,7963.0,4066.0,3897.0,8897.0,4628.0,4269.0,8835.0,4544.0,4291.0,7541.0,3701.0,3840.0,6092.0,2740.0,3352.0,5043.0,2296.0,2747.0,5275.0,2290.0,2985.0,4702.0,1952.0,2750.0,3442.0,1100.0,2342.0,74.0,93530.0,6.0,6800.0,14.0,15900.0,26.0,67.0,79200.0,33.0,38400.0,11000.0,22400.0,33062.0,111200.0,6400.0,6000.0,1000.0,500.0,66.5,1.1,5.9,12.4,14.2,67.5,21.7,12.2,459.05,58112.0,0.16,2.0,45586.0,26661.0,96.0,47.0,15.3,16.0,1967.0,None,41844.0,2.0,1.0,5.0,190704.0,2361.0,19.0,165071.0,2.0,25633.0,98.3,12.8,8.9,5.2,4.9,6.4,10.6,150.5,64.1,32.0,32.1,-0.1,13.5,15.1,41.7,13.0,4.7,4.7,6337.0,None,DE107C,Heilbronn
257,ES036C,2020,674.0,1890.0,66.0,5161.0,2186.0,2975.0,None,None,None,14969.0,20.0,8717.0,43.0,18799.0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,None,0.68,None,None,None,None,2.65,3.17,4.2,1.51,1.15,1.37,51.71,34.25,6.0,3.0,6.0,492.0,7.0,24.0,129.0,76.0,53.0,1090.0,525.0,565.0,14.0,33356.0,32.0,10731.0,2.0,4.0,1402.0,15.0,4863.0,23.0,7599.0,18.0,76858.0,None,18336.0,None,None,None,None,43877.0,3070.0,41503.0,None,None,None,None,None,26835.0,None,3833.0,155.0,36.0,7137.0,None,5.0,135462.0,125482.0,None,None,0.0,54.0,60.0,18526.0,49.0,17342.0,4562.0,12.0,2160.0,14.0,2402.0,13.0,6687.0,3477.0,3209.0,34504.0,17732.0,16772.0,30145.0,15653.0,14492.0,5862.0,3095.0,2767.0,462.0,2202.0,24525.0,1555.0,6931.0,167.0,366.0,217.0,3413.0,7534.0,1678.0,78144.0,36875.0,41269.0,12181.0,5665.0,6516.0,9050.0,4231.0,4819.0,2804.0,1409.0,1395.0,3500.0,1792.0,1708.0,3549.0,1750.0,1799.0,9077.0,3341.0,5736.0,7984.0,3960.0,4024.0,11272.0,5458.0,5814.0,12034.0,5749.0,6285.0,3363.0,1769.0,1594.0,3515.0,1793.0,1722.0,3567.0,1846.0,1721.0,4005.0,1960.0,2045.0,4877.0,2390.0,2487.0,5888.0,2805.0,3083.0,5790.0,2816.0,2974.0,5995.0,2840.0,3155.0,6223.0,2878.0,3345.0,6144.0,2824.0,3320.0,5137.0,2472.0,2665.0,4366.0,2000.0,2366.0,3436.0,1506.0,1930.0,2419.0,951.0,1468.0,3566.0,1074.0,2492.0,95.0,74507.0,1.0,882.0,4.0,2755.0,5.0,93.0,72767.0,7.0,5377.0,1147.0,4230.0,3637.0,72723.0,2703.0,1575.0,64.0,606.0,None,None,None,None,None,48.52,18.36,None,467.47,36530.0,0.38,3.0,None,None,None,None,None,33.0,2616.0,69292.0,19327.0,None,6.0,None,79671.0,652.0,8.0,69567.0,1.0,10104.0,111.9,15.5,11.5,3.6,4.5,4.5,11.5,171.7,66.8,28.3,38.5,-0.3,15.3,10.2,48.5,14.3,4.3,4.5,None,6646.0,ES036C,Palencia
439,IE004C,2011,None,None,154.0,6564.0,3374.0,3190.0,None,None,None,6639.0,67.0,15821.0,35.0,18167.0,4.1,16.4,5.7,1194.3,5.0,None,0.0,None,None,19.0,None,NaN,None,NaN,NaN,None,None,None,91.0,90.0,None,None,None,None,None,None,None,None,None,4.0,4.0,18.0,1085.0,None,18.0,82.0,51.0,31.0,336.0,167.0,169.0,6.0,27649.0,21.0,6946.0,3.0,6.0,1807.0,4.0,1378.0,32.0,7463.0,20.0,70763.0,None,None,None,None,None,None,33104.0,24083.0,8403.0,66.0,21061.0,12.0,6018.0,57.0,13520.0,2576.0,10687.0,29.0,None,5407.0,170.0,None,None,None,None,None,1.0,67.0,76.0,19900.0,59.0,17700.0,6200.0,5.0,4200.0,4.0,1900.0,5.0,3500.0,1800.0,1700.0,36000.0,18800.0,17200.0,31200.0,15500.0,15600.0,3300.0,1700.0,1600.0,174.0,7473.0,43338.0,1257.0,10859.0,1799.0,1794.0,235.0,3356.0,14772.0,1619.0,73963.0,35915.0,38048.0,6148.0,2922.0,3226.0,4004.0,1885.0,2118.0,4933.0,2527.0,2406.0,4790.0,2401.0,2389.0,8181.0,3902.0,4282.0,2881.0,1122.0,1760.0,17863.0,8804.0,9059.0,10322.0,5051.0,5270.0,7571.0,3592.0,3979.0,3931.0,2011.0,1920.0,3522.0,1776.0,1746.0,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,90.0,57818.0,5.0,9283.0,6.0,6862.0,None,None,54676.0,None,19287.0,11448.0,7839.0,16145.0,None,None,None,None,None,67.0,0.3,5.0,17.3,6.5,67.3,20.4,17.0,403.98,30908.0,0.96,2.0,20440.0,4873.0,14.2,None,10.0,None,3028.0,None,80491.0,2.0,3.0,3.0,5110080.0,19771.0,377.0,None,88.0,None,111.8,7.6,4.8,6.2,8.5,13.9,3.4,200.9,None,None,12.5,None,10.8,19.9,31.0,13.1,None,None,None,None,IE004C,Galway

<div class="alert alert-block alert-warning">
<b>Output:</b> Export checkpoint 1 to a csv
</div>

In [9]:
result_df.to_csv('D:\Ironhack\datos_proyecto\clean_data\cities_clean_1.csv', index=False)

In [10]:
result_df.shape

(910, 277)

In [11]:
#Export a dictionary with the percentage nulls to display it in Tableau
nulls = pd.DataFrame(result_df.isna().sum()*100/len(result_df), columns=['percentage'])
nulls.sort_values('percentage', ascending = False)
#Import dictionary and check which variables still have a lot of nulls
dictionary_df=pd.read_csv('D:\Ironhack\datos_proyecto\clean_data\dictionary.csv')
#dictionary_df=pd.merge(left=dictionary_df,right=df_headers,how='left',left_on=['Column Name'],right_on=['Column Name'])
dictionary_df=dictionary_df.reset_index(drop=True)
nan_df=pd.merge(left=nulls,right=dictionary_df,how='left',left_index=True,right_on=['Column Name'])
nan_df=nan_df.reset_index(drop=True)
nan_df.sort_values(by='percentage',ascending=False)

,percentage,Column Name,Dataframe,Measurement unit,label
44,98.461538,EN2029I,environment,NaN,Prop. of residents exposed to air traffic nois...
45,97.142857,EN2032I,environment,NaN,Prop. of residents exposed to rail traffic noi...
48,96.703297,EN2036I,environment,NaN,Prop. of residents exposed to rail traffic noi...
47,96.373626,EN2035I,environment,NaN,Prop. of residents exposed to road traffic noi...
46,96.043956,EN2033I,environment,NaN,Prop. of residents exposed to road traffic noi...
93,92.417582,EC3067V,living_conditions,NaN,Share of persons at risk of poverty or social ...
92,92.417582,EC3066V,living_conditions,NaN,Share of severely materially deprived persons -%
28,80.329670,TE1041V,education,NaN,Share of early leavers from education and trai...
27,80.219780,TE1040V,education,NaN,Share of early leavers from education and trai...
26,79.120879,TE1039V,education,NaN,Share of early leavers from education and trai...
112,78.681319,SA1052V,living_conditions,Euro/m2,Average price for buying a house per m2 - EUR
113,78.021978,SA1053V,living_conditions,Euro/m2,Average price for buying an apartment per m2 ...
241,76.043956,DE4004V,popnational,Absolute Number,Population with the place of residence in anot...
242,75.384615,DE4005V,popnational,Absolute Number,Population with the place of residence outside...
239,75.384615,DE4002V,popnational,Absolute Number,Population with the place of residence in anot...
238,74.395604,DE4001V,popnational,Absolute Number,Population with the place of residence in the ...
240,73.736264,DE4003V,popnational,Absolute Number,Population with the place of residence in anot...
53,67.142857,EN3013V,environment,NaN,Share of population connected to sewerage trea...
250,64.835165,TT1020V,transport,NaN,Average length of journey to work by private c...
90,64.615385,EC3064V,living_conditions,NaN,Share of persons living in households with ver...
51,64.505495,EN3011V,environment,NaN,Share of the urban waste water load (in popula...
91,64.285714,EC3065V,living_conditions,NaN,Share of persons at risk of poverty after soci...
270,59.780220,CR2010V,tourism,NaN,Nights spent in tourist accommodation establis...
272,59.780220,CR2011V,tourism,NaN,Nights spent in tourist accommodation establis...
109,58.791209,SA1049V,living_conditions,Euro/m2,Average annual rent for housing per m2 - EUR
52,56.373626,EN3012V,environment,NaN,Share of population connected to potable drink...
88,54.505495,EC3039V,living_conditions,NaN,Median disposable annual household income - EUR
108,54.395604,SA1029V,living_conditions,NaN,Number of people in accommodation for the home...
34,54.285714,EN1002V,environment,NaN,Total number of hours of sunshine per day
61,51.978022,EN5206V,environment,NaN,Share of land (%): Agricultural areas
41,51.868132,EN2025V,environment,NaN,Accumulated ozone concentration in excess 70 ¬µ...
55,51.868132,EN5200V,environment,NaN,Share of land (%): Continuous residential urba...
60,51.758242,EN5205V,environment,NaN,Share of land (%): Green urban areas and sport...
62,51.758242,EN5207V,environment,NaN,Share of land (%): Natural areas
56,51.758242,EN5201V,environment,NaN,Share of land (%): Discontinuous residential u...
59,51.758242,EN5204V,environment,NaN,Share of land (%): Other artificial areas
58,51.758242,EN5203V,environment,NaN,Share of land (%): Transport infrastructure
57,51.758242,EN5202V,environment,NaN,"Share of land (%): Industrial, commercial, pub..."
258,51.098901,TT1080V,transport,Euro,Cost of a combined monthly ticket (all modes o...
35,50.549451,EN1003V,environment,NaN,Average temperature of warmest month - degrees
37,50.439560,EN1005V,environment,NaN,Rainfall - litre/m¬≤
36,50.109890,EN1004V,environment,NaN,Average temperature of coldest month - degrees
89,49.120879,EC3040V,living_conditions,NaN,Average disposable annual household income - EUR
43,48.131868,EN2027V,environment,NaN,Annual average concentration of PM10 (¬µg/m¬≥)
214,47.692308,DE1130V,pop_age_sex,Absolute Number,"Population on the 1st of January, 70-74 years,..."
213,47.692308,DE1129V,pop_age_sex,Absolute Number,"Population on the 1st of January, 70-74 years,..."
219,47.692308,DE1135V,pop_age_sex,Absolute Number,"Population on the 1st of January, 80-84 years,..."
218,47.692308,DE1134V,pop_age_sex,Absolute Number,"Population on the 1st of January, 80-84 years,..."
209,47.692308,DE1125V,pop_age_sex,Absolute Number,"Population on the 1st of January, 65-69 years,..."
210,47.692308,DE1126V,pop_age_sex,Absolute Number,"Population on the 1st of January, 65-69 years,..."
211,47.692308,DE1127V,pop_age_sex,Absolute Number,"Population on the 1st of January, 65-69 years,..."
216,47.692308,DE1132V,pop_age_sex,Absolute Number,"Population on the 1st of January, 75-79 years,..."
215,47.692308,DE1131V,pop_age_sex,Absolute Number,"Population on the 1st of January, 75-79 years,..."
212,47.692308,DE1128V,pop_age_sex,Absolute Number,"Population on the 1st of January, 70-74 years,..."
220,47.692308,DE1136V,pop_age_sex,Absolute Number,"Population on the 1st of January, 80-84 years,..."
217,47.692308,DE1133V,pop_age_sex,Absolute Number,"Population on the 1st of January, 75-79 years,..."
187,47.692308,DE1103V,pop_age_sex,Absolute Number,"Population on the 1st of January, 25-29 years,..."
221,47.692308,DE1137V,pop_age_sex,Absolute Number,"Population on the 1st of January, 85 years or ..."
223,47.692308,DE1139V,pop_age_sex,Absolute Number,"Population on the 1st of January, 85 years or ..."
186,47.692308,DE1102V,pop_age_sex,Absolute Number,"Population on the 1st of January, 25-29 years,..."
222,47.692308,DE1138V,pop_age_sex,Absolute Number,"Population on the 1st of January, 85 years or ..."
185,47.692308,DE1101V,pop_age_sex,Absolute Number,"Population on the 1st of January, 25-29 years,..."
198,47.582418,DE1114V,pop_age_sex,Absolute Number,"Population on the 1st of January, 45-49 years,..."
199,47.582418,DE1115V,pop_age_sex,Absolute Number,"Population on the 1st of January, 45-49 years,..."
200,47.582418,DE1116V,pop_age_sex,Absolute Number,"Population on the 1st of January, 50-54 years,..."
197,47.582418,DE1113V,pop_age_sex,Absolute Number,"Population on the 1st of January, 45-49 years,..."
195,47.582418,DE1111V,pop_age_sex,Absolute Number,"Population on the 1st of January, 40-44 years,..."
201,47.582418,DE1117V,pop_age_sex,Absolute Number,"Population on the 1st of January, 50-54 years,..."
202,47.582418,DE1118V,pop_age_sex,Absolute Number,"Population on the 1st of January, 50-54 years,..."
203,47.582418,DE1119V,pop_age_sex,Absolute Number,"Population on the 1st of January, 55-59 years,..."
204,47.582418,DE1120V,pop_age_sex,Absolute Number,"Population on the 1st of January, 55-59 years,..."
194,47.582418,DE1110V,pop_age_sex,Absolute Number,"Population on the 1st of January, 40-44 years,..."
206,47.582418,DE1122V,pop_age_sex,Absolute Number,"Population on the 1st of January, 60-64 years,..."
207,47.582418,DE1123V,pop_age_sex,Absolute Number,"Population on the 1st of January, 60-64 years,..."
208,47.582418,DE1124V,pop_age_sex,Absolute Number,"Population on the 1st of January, 60-64 years,..."
205,47.582418,DE1121V,pop_age_sex,Absolute Number,"Population on the 1st of January, 55-59 years,..."
196,47.582418,DE1112V,pop_age_sex,Absolute Number,"Population on the 1st of January, 40-44 years,..."
188,47.582418,DE1104V,pop_age_sex,Absolute Number,"Population on the 1st of January, 30-34 years,..."
189,47.582418,DE1105V,pop_age_sex,Absolute Number,"Population on the 1st of January, 30-34 years,..."
190,47.582418,DE1106V,pop_age_sex,Absolute Number,"Population on the 1st of January, 30-34 years,..."
191,47.582418,DE1107V,pop_age_sex,Absolute Number,"Population on the 1st of January, 35-39 years,..."
192,47.582418,DE1108V,pop_age_sex,Absolute Number,"Population on the 1st of January, 35-39 years,..."
193,47.582418,DE1109V,pop_age_sex,Absolute Number,"Population on the 1st of January, 35-39 years,..."
39,47.472527,EN2003V,environment,NaN,Number of hours nitrogen dioxide NO2 concentra...
38,47.362637,EN2002V,environment,NaN,Number of days ozone O3 concentrations exceed ...
257,47.252747,TT1079V,transport,Km,Length of bicycle network (dedicated cycle pat...
42,45.384615,EN2026V,environment,NaN,Annual average concentration of NO2 (¬µg/m¬≥)
40,44.065934,EN2005V,environment,NaN,Number of days particulate matter PM10 concent...
67,43.846154,SA2010V,fertility_mortality,Absolute Number,Number of adolescent births (from mothers age...
110,42.967033,SA1050V,living_conditions,Absolute figure in Euro,Average price for buying a house
50,41.978022,EN3010V,environment,NaN,Price of a m¬≥ of domestic water - Euro
49,41.538462,EN3003V,environment,NaN,Total use of water - m¬≥
105,41.318681,SA1018V,living_conditions,NaN,Dwellings lacking basic amenities
111,40.879121,SA1051V,living_conditions,Absolute figure in Euro,Average price for buying an apartment
256,40.769231,TT1065V,transport,NaN,People commuting out of the city
255,40.769231,TT1064V,transport,NaN,People commuting into the city
259,40.769231,TT1081V,transport,Euro,Cost of a taxi ride of 5 km to the centre at d...
103,40.549451,SA1012V,living_conditions,NaN,Households in social housing
249,39.560440,TT1019V,transport,NaN,Average time of journey to work - minutes
292,37.362637,EC2039V,NaN,NaN,NaN
266,37.252747,CR1015V,tourism,Absolute Number,Number of public swimming pools (indoor and ou...
99,36.153846,SA1008I,living_conditions,NaN,Proportion of households living in apartments
262,35.934066,CR1005V,tourism,Absolute Number,Cinema attendance (per year)
247,35.934066,TT1010V,transport,NaN,Share of journeys to work by public transport ...
245,35.274725,TT1007V,transport,NaN,Share of journeys to work by bicycle -%
244,34.615385,TT1006V,transport,NaN,Share of journeys to work by motor cycle -%
248,33.846154,TT1012V,transport,NaN,Share of journeys to work by car or motor cycl...
246,33.846154,TT1008V,transport,NaN,Share of journeys to work by foot -%
264,33.076923,CR1008V,tourism,Absolute Number,Number of theatres
20,31.868132,TE1001I,education,NaN,Number of Children 0-4 in day care (publ.&priv...
100,31.868132,SA1008V,living_conditions,NaN,Number of households living in apartments
243,31.208791,TT1003V,transport,NaN,Share of journeys to work by car -%
106,31.208791,SA1022V,living_conditions,NaN,Average area of living accommodation - m¬≤/person
21,31.208791,TE1001V,education,Absolute Number (monthly average of the year),Number of children 0-4 in day care or school
97,30.879121,SA1007I,living_conditions,NaN,Proportion of households living in houses
98,27.142857,SA1007V,living_conditions,NaN,Number of households living in houses
54,26.813187,EN4008V,environment,1000 t,Municipal waste generated (domestic and commer...
260,26.373626,CR1003I,tourism,NaN,Number of cinema seats per 1000 residents
261,25.384615,CR1003V,tourism,Absolute Number,Number of cinema seats (total capacity)
271,23.736264,CR2011I,tourism,NaN,Number of Tourist overnight stays in reg. acco...
269,23.516484,CR2010I,tourism,NaN,Number of available beds per 1000 residents
263,22.967033,CR1007V,tourism,Absolute Number,Number of museum visitors (per year)
101,22.197802,SA1011I,living_conditions,NaN,Proportion of households living in owned dwell...
104,21.978022,SA1013V,living_conditions,NaN,Households in private rented housing
96,21.758242,SA1005V,living_conditions,NaN,Number of apartments
268,20.549451,CR2009V,tourism,NaN,Number of bed-places in tourist accommodation ...
267,20.439560,CR2001V,tourism,NaN,Total nights spent in tourist accommodation es...
107,19.670330,SA1025V,living_conditions,Absolute Number,Empty conventional dwellings
233,19.450549,DE2009I,popnational,NaN,Foreign-born as a proportion of population
231,19.450549,DE2008I,popnational,NaN,Native-born as a proportion of population
236,18.021978,DE2011V,popnational,Absolute Number,Foreign-born in a non-EU country
235,18.021978,DE2010V,popnational,Absolute Number,Foreign-born in a EU country
131,18.021978,EC1176V,labour_market,Absolute Number,"Economically active population, 20-64, female"
130,18.021978,EC1175V,labour_market,Absolute Number,"Economically active population, 20-64, male"
234,17.912088,DE2009V,popnational,Absolute Number,Foreign-born
232,17.912088,DE2008V,popnational,Absolute Number,Native-born
129,17.802198,EC1174V,labour_market,Absolute Number,"Economically active population, 20-64, total"
136,16.703297,EC1181V,labour_market,NaN,"Persons employed, 55-64, male"
137,16.703297,EC1182V,labour_market,NaN,"Persons employed, 55-64, female"
138,16.593407,EC2008V,labour_market,Absolute Number,"Employment in agriculture, fishery (NACE Rev. ..."
82,16.373626,DE3008I,living_conditions,NaN,Prop. households that are lone-pensioner house...
132,15.824176,EC1177V,labour_market,Absolute Number,"Persons employed, 20-64, total"
291,15.824176,EC2021V,NaN,NaN,NaN
83,15.714286,DE3008V,living_conditions,Absolute Number,Lone pensioner (above retirement age) households
134,15.494505,EC1179V,labour_market,Absolute Number,"Persons employed, 20-64, female"
133,15.494505,EC1178V,labour_market,Absolute Number,"Persons employed, 20-64, male"
135,15.384615,EC1180V,labour_market,NaN,"Persons employed, 55-64, total"
102,14.725275,SA1011V,living_conditions,NaN,Households owning their own dwelling
95,14.175824,SA1004V,living_conditions,NaN,Number of houses
142,13.956044,EC2032V,labour_market,Absolute Number,"Employment in trade, transport, hotels, restau..."
144,13.846154,EC2034V,labour_market,Absolute Number,Employment in financial and insurance activiti...
143,13.626374,EC2033V,labour_market,Absolute Number,Employment in information and communication (N...
147,13.516484,EC2037V,labour_market,Absolute Number,"Employment in public administration, defence, ..."
146,13.516484,EC2036V,labour_market,Absolute Number,"Employment in professional, scientific and tec..."
145,13.516484,EC2035V,labour_market,Absolute Number,Employment in real estate activities (NACE Rev...
148,13.516484,EC2038V,labour_market,Absolute Number,"Employment in arts, entertainment and recreati..."
115,12.527473,EC1001I,labour_market,NaN,Activity rate
30,11.428571,TE2028I,education,NaN,Prop. of working age population qualified at l...
125,10.879121,EC1020I,labour_market,NaN,Unemployment rate
116,10.439560,EC1002I,labour_market,NaN,"Activity rate, male"
31,10.439560,TE2028V,education,Absolute Number,Persons aged 25-64 with ISCED level 3 or 4 as ...
86,10.439560,DE3016I,living_conditions,NaN,Lone parent households per 100 households with...
128,10.439560,EC1147V,labour_market,NaN,"Economically active population 55-64, female"
127,10.439560,EC1146V,labour_market,NaN,"Economically active population 55-64, male"
22,10.329670,TE1026I,education,NaN,Share of students in higher education in the t...
118,10.109890,EC1003I,labour_market,NaN,"Activity rate, female"
25,10.000000,TE1028V,education,Absolute Number,Students in higher education (ISCED level 5-8)...
24,10.000000,TE1027V,education,Absolute Number,Students in higher education (ISCED level 5-8)...
23,9.890110,TE1026V,education,Absolute Number,Students in higher education (ISCED level 5-8)...
32,9.780220,TE2031I,education,NaN,Prop. of working age population qualified at l...
79,9.670330,DE3004I,living_conditions,NaN,Average size of households
80,9.560440,DE3005I,living_conditions,NaN,Prop. of households that are lone-parent house...
230,9.450549,DE2007I,popnational,NaN,Foreigners as a proportion of population
84,9.340659,DE3011I,living_conditions,NaN,Proportion of households with children aged 0-17
29,9.010989,TE2025V,education,Absolute Number,"Persons aged 25-64 with ISCED level 0, 1 or 2 ..."
87,9.010989,DE3017V,living_conditions,Absolute Number,Population living in private households (exclu...
265,9.010989,CR1010V,tourism,Absolute Number,Number of public libraries (all distribution p...
81,8.901099,DE3005V,living_conditions,Absolute Number,Lone parent private households (with children ...
85,8.791209,DE3011V,living_conditions,Absolute Number,Households with children aged 0 to under 18
33,8.791209,TE2031V,education,Absolute Number,"Persons aged 25-64 with ISCED level 5, 6, 7 or..."
121,8.351648,EC1011I,labour_market,NaN,"Unemployment rate, male"
123,8.131868,EC1012I,labour_market,NaN,"Unemployment rate, female"
126,8.131868,EC1145V,labour_market,NaN,"Economically active population 55-64, total"
68,8.131868,SA2013V,fertility_mortality,Absolute Number,Number of deaths per year under 65 due to dise...
251,7.912088,TT1057I,transport,NaN,Number of registered cars per 1000 population
252,7.582418,TT1057V,transport,Absolute Number,Number of private cars registered
117,7.472527,EC1002V,labour_market,Absolute Number,"Economically active population, male"
237,7.472527,DE2012V,popnational,Absolute Number,Foreigners
119,7.472527,EC1003V,labour_market,Absolute Number,"Economically active population, female"
139,7.362637,EC2009V,labour_market,Absolute Number,"Employment in mining, manufacturing, energy (N..."
141,7.252747,EC2022V,labour_market,Absolute Number,Employment in construction (NACE Rev. 2: F)
253,5.824176,TT1060I,transport,NaN,People killed in road accidents per 10000 pop.
282,5.604396,DE1059I,popstruc,NaN,Young-age dependency ratio (population aged 0-...
281,5.604396,DE1058I,popstruc,NaN,Age dependency ratio (population aged 0-19 and...
287,5.274725,DE1073V,popstruc,Absolute Number,Median population age
284,5.164835,DE1061I,popstruc,NaN,Population change over 1 year
289,5.164835,DE1084I,popstruc,NaN,Proportion of population aged 5-9 years
290,5.164835,DE1085I,popstruc,NaN,Proportion of population aged 10-14 years
140,5.054945,EC2020V,labour_market,Absolute Number,Total employment (work place based)
254,5.054945,TT1060V,transport,Absolute Number,Number of deaths in road accidents
77,5.054945,DE3002I,living_conditions,NaN,Proportion of households that are 1-person hou...
76,4.615385,DE3001V,living_conditions,Absolute Number,Private households (excluding institutional ho...
63,4.615385,SA2004I,fertility_mortality,NaN,Infant mortality rate (per 1000 live births)
78,4.505495,DE3002V,living_conditions,Absolute Number,One person households
64,4.285714,SA2004V,fertility_mortality,Absolute Number,Infant Mortality per year
226,3.406593,DE2002I,popnational,NaN,EU foreigners as a proportion of population
65,3.406593,SA2007I,fertility_mortality,NaN,Crude birth rate (per 1000 inhabitants)
180,3.296703,DE1075V,pop_age_sex,Absolute Number,"Population on the 1st of January, 5-9 years, male"
228,3.296703,DE2003I,popnational,NaN,Non-EU foreigners as a proportion of population
179,3.186813,DE1074V,pop_age_sex,Absolute Number,"Population on the 1st of January, 5-9 years, t..."
181,3.186813,DE1076V,pop_age_sex,Absolute Number,"Population on the 1st of January, 5-9 years, f..."
114,3.186813,SA3005V,living_conditions,Absolute Number,Number of murders and violent deaths
184,3.186813,DE1079V,pop_age_sex,Absolute Number,"Population on the 1st of January, 10-14 years,..."
183,3.186813,DE1078V,pop_age_sex,Absolute Number,"Population on the 1st of January, 10-14 years,..."
182,3.186813,DE1077V,pop_age_sex,Absolute Number,"Population on the 1st of January, 10-14 years,..."
224,3.076923,DE2001I,popnational,NaN,Nationals as a proportion of population
66,3.076923,SA2007V,fertility_mortality,Absolute Number,Number of live births per year
227,2.967033,DE2002V,popnational,Absolute Number,EU foreigners
229,2.857143,DE2003V,popnational,Absolute Number,Non-EU foreigners
225,2.747253,DE2001V,popnational,Absolute Number,Nationals
69,1.208791,SA2016V,fertility_mortality,Absolute Number,Total deaths under 65 per year
71,1.208791,SA2018V,fertility_mortality,Absolute Number,"Total deaths under 65 per year, female"
70,1.208791,SA2017V,fertility_mortality,Absolute Number,"Total deaths under 65 per year, male"
288,0.989011,DE1076I,popstruc,NaN,Proportion of population aged 35-44 years
283,0.989011,DE1060I,popstruc,NaN,Old age dependency ratio (population 65 and ov...
285,0.989011,DE1064I,popstruc,NaN,Proportion of population aged 45-54 years

<div class="alert alert-block alert-warning">
<b>Output:</b> Export dictionary for tableau
</div>

In [ ]:
nan_df.to_excel(r'C:\Users\luisj\Desktop\Ironhack\Archivos Ejercicios\09_Final project\Data\dictionary_tableau.xlsx', index=False, sheet_name='dictionary')

<div class="alert alert-block alert-warning">
<b>Output:</b> Export excel with all data for Tableau
</div>

In [158]:
dictionary_2 = dictionary_df.set_index('Column Name')['label'].to_dict()
df_tableau = result_df.rename(columns=dictionary_2)
#df_tableau.to_csv('D:\Ironhack\datos_proyecto\clean_data\df_tableau_variables.csv', encoding='utf-8',index=False)
df_tableau.to_excel(r'C:\Users\luisj\Desktop\Ironhack\Archivos Ejercicios\09_Final project\Tableau\Sources\df_tableau_variables.xlsx', index=False, sheet_name='df_tableau_variables')

In [159]:
df_tableau.head(5)

,NaN,NaN,Number of Children 0-4 in day care (publ.&priv) per 1000 children 0-4,Number of children 0-4 in day care or school,Share of students in higher education in the total population (per 1000 persons),"Students in higher education (ISCED level 5-8), total","Students in higher education (ISCED level 5-8), male","Students in higher education (ISCED level 5-8), female","Share of early leavers from education and training, total -%","Share of early leavers from education and training, male -%","Share of early leavers from education and training, female -%","Persons aged 25-64 with ISCED level 0, 1 or 2 as the highest level of education",Prop. of working age population qualified at level 3 or 4 ISCED,Persons aged 25-64 with ISCED level 3 or 4 as the highest level of education,Prop. of working age population qualified at level 5 or 6 ISCED,"Persons aged 25-64 with ISCED level 5, 6, 7 or 8 as the highest level of education",Total number of hours of sunshine per day,Average temperature of warmest month - degrees,Average temperature of coldest month - degrees,Rainfall - litre/m¬≤,Number of days ozone O3 concentrations exceed 120 ¬µg/m¬≥,Number of hours nitrogen dioxide NO2 concentrations exceed 200 ¬µg/m¬≥,Number of days particulate matter PM10 concentrations exceed 50 ¬µg/m¬≥,Accumulated ozone concentration in excess 70 ¬µg/m¬≥,Annual average concentration of NO2 (¬µg/m¬≥),Annual average concentration of PM10 (¬µg/m¬≥),Prop. of residents exposed to air traffic noise >55 dB(A) at night time,Prop. of residents exposed to rail traffic noise >65 dB(A) at day time,Prop. of residents exposed to road traffic noise >65 dB(A) at day time,Prop. of residents exposed to road traffic noise >55 dB(A) at night time,Prop. of residents exposed to rail traffic noise >55 dB(A) at night time,Total use of water - m¬≥,Price of a m¬≥ of domestic water - Euro,Share of the urban waste water load (in population equivalents) treated according to the applicable standard -%,Share of population connected to potable drinking water system - %,Share of population connected to sewerage treatment system - %,"Municipal waste generated (domestic and commercial), total",Share of land (%): Continuous residential urban fabric,Share of land (%): Discontinuous residential urban fabric,"Share of land (%): Industrial, commercial, public, military and private units",Share of land (%): Transport infrastructure,Share of land (%): Other artificial areas,Share of land (%): Green urban areas and sports and leisure facilities,Share of land (%): Agricultural areas,Share of land (%): Natural areas,Infant mortality rate (per 1000 live births),Infant Mortality per year,Crude birth rate (per 1000 inhabitants),Number of live births per year,Number of adolescent births (from mothers aged 19 or less),Number of deaths per year under 65 due to diseases of the circulatory or respiratory systems,Total deaths under 65 per year,"Total deaths under 65 per year, male","Total deaths under 65 per year, female",Total deaths per year,"Total deaths per year, male","Total deaths per year, female",Crude death rate (per 1000 inhabitants),Private households (excluding institutional households),Proportion of households that are 1-person households,One person households,Average size of households,Prop. of households that are lone-parent households,Lone parent private households (with children aged 0 to under 18),Prop. households that are lone-pensioner households,Lone pensioner (above retirement age) households,Proportion of households with children aged 0-17,Households with children aged 0 to under 18,Lone parent households per 100 households with children aged 0-17,Population living in private households (excluding institutional households),Median disposable annual household income - EUR,Average disposable annual household income - EUR,Share of persons living in households with very low work intensity - %,Share of persons at risk of poverty after social transfers -%,Share of severely materially deprived persons -%,Share of persons at risk of poverty or social exclusion -%,Number of conventional dwellings,Number of houses,Number of apartments,Proportion of households living in houses,Number of households living in houses,Proportion of households living in apartments,Number of households living in apartments,Proportion of households living in owned dwellings,Households owning their own dwelling,Households in social housing,Households in private rented housing,Dwellings lacking basic amenities,Average area of living accommodation - m¬≤/person,Empty conventional dwellings,Number of people in accommodation for the homeless,Average annual rent for housing per m2 - EUR,Average price for buying a house,Average price for buying an apartment,Average price for buying a house per m2 - EUR,Average price for buying an apartment per m2 - EUR,Number of murders and violent deaths,Activity rate,"Activity rate, male","Economically active population, male","Activity rate, female","Economically active population, female","Persons unemployed, total","Unemployment rate, male","Persons unemployed, male","Unemployment rate, female","Persons unemployed, female",Unemployment rate,"Economically active population 55-64, total","Economically active population 55-64, male","Economically active population 55-64, female","Economically active population, 20-64, total","Economically active population, 20-64, male","Economically active population, 20-64, female","Persons employed, 20-64, total","Persons employed, 20-64, male","Persons employed, 20-64, female","Persons employed, 55-64, total","Persons employed, 55-64, male","Persons employed, 55-64, female","Employment in agriculture, fishery (NACE Rev. 2: A)","Employment in mining, manufacturing, energy (NACE Rev. 2: B to E)",Total employment (work place based),Employment in construction (NACE Rev. 2: F),"Employment in trade, transport, hotels, restaurants (NACE Rev. 2: G to I)",Employment in information and communication (NACE Rev. 2: J),Employment in financial and insurance activities (NACE Rev. 2: K),Employment in real estate activities (NACE Rev. 2: L),"Employment in professional, scientific and technical activities; administrative and support service activities (NACE Rev. 2: M and N)","Employment in public administration, defence, education, human health and social work activities (NACE Rev. 2: O to Q)","Employment in arts, entertainment and recreation; other service activities; activities of households (NACE Rev. 2: R to T)","Population on the 1st of January, total","Population on the 1st of January, male","Population on the 1st of January, female","Population on the 1st of January, 55-64 years, total","Population on the 1st of January, 55-64 years, male","Population on the 1st of January, 55-64 years, female","Population on the 1st of January, 65-74 years, total","Population on the 1st of January, 65-74 years, male","Population on the 1st of January, 65-74 years, female","Population on the 1st of January, 0-4 years, total","Population on the 1st of January, 0-4 years, male","Population on the 1st of January, 0-4 years, female","Population on the 1st of January, 15-19 years, total","Population on the 1st of January, 15-19 years, male","Population on the 1st of January, 15-19 years, female","Population on the 1st of January, 20-24 years, total","Population on the 1st of January, 20-24 years, male","Population on the 1st of January, 20-24 years, female","Population on the 1st of January, 75 years and over, total","Population on the 1st of January, 75 years and over, male","Population on the 1st of January, 75 years and over, female","Population on the 1st of January, 25-34 years, total","Population on the 1st of January, 25-34 years, male","Population on the 1st of January, 25-34 years, female","Population on the 1st of January, 35-44 years, total","Population on the 1st of January, 35-44 years, male","Population on the 1st of January, 35-44 years, female","Population on the 1st of January, 45-54 years, total","Population on the 1st of January, 45-54 years, male","Population on the 1st of January, 45-54 years, female","Population on the 1st of January, 5-9 years, total","Population on the 1st of January, 5-9 years, male","Population on the 1st of January, 5-9 years, female","Population on the 1st of January, 10-14 years, total","Population on the 1st of January, 10-14 years, male","Population on the 1st of January, 10-14 years, female","Population on the 1st of January, 25-29 years, total","Population on the 1st of January, 25-29 years, male","Population on the 1st of January, 25-29 years, female","Population on the 1st of January, 30-34 years, total","Population on the 1st of January, 30-34 years, male","Population on the 1st of January, 30-34 years, female","Population on the 1st of January, 35-39 years, total","Population on the 1st of January, 35-39 years, male","Population on the 1st of January, 35-39 years, female","Population on the 1st of January, 40-44 years, total","Population on the 1st of January, 40-44 years, male","Population on the 1st of January, 40-44 years, female","Population on the 1st of January, 45-49 years, total","Population on the 1st of January, 45-49 years, male","Population on the 1st of January, 45-49 years, female","Population on the 1st of January, 50-54 years, total","Population on the 1st of January, 50-54 years, male","Population on the 1st of January, 50-54 years, female","Population on the 1st of January, 55-59 years, total","Population on the 1st of January, 55-59 years, male","Population on the 1st of January, 55-59 years, female","Population on the 1st of January, 60-64 years, total","Population on the 1st of January, 60-64 years, male","Population on the 1st of January, 60-64 years, female","Population on the 1st of January, 65-69 years, total","Population on the 1st of January, 65-69 years, male","Population on the 1st of January, 65-69 years, female","Population on the 1st of January, 70-74 years, total","Population on the 1st of January, 70-74 years, male","Population on the 1st of January, 70-74 years, female","Population on the 1st of January, 75-79 years, total","Population on the 1st of January, 75-79 years, male","Population on the 1st of January, 75-79 years, female","Population on the 1st of January, 80-84 years, total","Population on the 1st of January, 80-84 years, male","Population on the 1st of January, 80-84 years, female","Population on the 1st of January, 85 years or over, total","Population on the 1st of January, 85 years or over, male","Population on the 1st of January, 85 years or over, female",Nationals as a proportion of population,Nationals,EU foreigners as a proportion of population,EU foreigners,Non-EU foreigners as a proportion of population,Non-EU foreigners,Foreigners as a proportion of population,Native-born as a proportion of population,Native-born,Foreign-born as a proportion of population,Foreign-born,Foreign-born in a EU country,Foreign-born in a non-EU country,Foreigners,"Population with the place of residence in the same dwelling, in the year before","Population with the place of residence in another dwelling in the same city/FUA, in the year before","Population with the place of residence in another dwelling outside the current city/FUA in the same country, in the year before","Population with the place of residence in another EU country, in the year before","Population with the place of residence outside the EU, in the year before",Share of journeys to work by car -%,Share of journeys to work by motor cycle -%,Share of journeys to work by bicycle -%,Share of journeys to work by foot -%,"Share of journeys to work by public transport (rail, metro, bus, tram) -%",Share of journeys to work by car or motor cycle -%,Average time of journey to work - minutes,Average length of journey to work by private car - km,Number of registered cars per 1000 population,Number of private cars registered,People killed in road accidents per 10000 pop.,Number of deaths in road accidents,People commuting into the city,People commuting out of the city,Length of bicycle network (dedicated cycle paths and lanes),Cost of a combined monthly ticket (all modes of public transport) for 5-10 km in the central zone,Cost of a taxi ride of 5 km to the centre at day time,Number of cinema seats per 1000 residents,Number of cinema seats (total capacity),Cinema attendance (per year),Number of museum visitors (per year),Number of theatres,Number of public libraries (all distribution points),"Number of public swimming pools (indoor and outdoor, excluding beaches)",Total nights spent in tourist accommodation establishments,Number of bed-places in tourist accommodation establishments,Number of available beds per 1000 residents,Nights spent in tourist accommodation establishments by residents,Number of Tourist overnight stays in reg. accommodation per year per resident population,Nights spent in tourist accommodation establishments by non-residents,Women per 100 men,Proportion of total population aged 55-64,Proportion of population aged 65-74 years,Proportion of population aged 0-4 years,Proportion of population aged 15-19 years,Proportion of population aged 20-24 years,Proportion of population aged 75 years and over,Women per 100 men - aged 75 years and over,Age dependency ratio (population aged 0-19 and 65 and more to population aged 20-64),Young-age dependency ratio (population aged 0-19 to population 20-64 years),Old age dependency ratio (population 65 and over to population 20 to 64 years),Population change over 1 year,Proportion of population aged 45-54 years,Proportion of population aged 25-34 years,Median population age,Proportion of population aged 35-44 years,Proportion of population aged 5-9 years,Proportion of population aged 10-14 years,EC2021V,EC2039V,CODE,NAME
0,AT,2014,508.0,202925.0,50.0,422213.0,197159.0,225054.0,NaN,NaN,NaN,1526527.0,69.0,3124099.0,19.0,862393.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,604330000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,249.0,10.0,81722.0,NaN,3983.0,14643.0,9831.0,4812.0,78252.0,37424.0,40828.0,9.0,3762160.0,37.0,1380136.0,2.0,4.0,153399.0,12.0,448544.0,24.0,894669.0,17.0,8438143.0,29849.0,35115.0,8.0,14.0,4.0,19.0,4539462.0,1398031.0,2812327.0,36.0,1299600.0,64.0,2266900.0,57.0,2012600.0,801300.0,752700.0,82000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,144.0,61.0,67.0,2357957.0,56.0,2097941.0,326047.0,7.0,172809.0,7.0,153238.0,7.0,526851.0,304437.0,222414.0,4178996.0,2199357.0,1979639.0,3873125.0,2037509.0,1835616.0,488444.0,279365.0,209079.0,272700.0,704800.0,4299547.0,280000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8507786.0,4155339.0,4352447.0,1028129.0,500841.0,527288.0,863845.0,400833.0,463012.0,399504.0,205667.0,193837.0,470104.0,241270.0,228834.0,544207.0,276777.0,267430.0,692813.0,259648.0,433165.0,1130821.0,569479.0,561342.0,1174343.0,584653.0,589690.0,1384680.0,696302.0,688378.0,404547.0,207158.0,197389.0,414793.0,212711.0,202082.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.0,7441672.0,6.0,518670.0,6.0,547444.0,13.0,83.0,7093162.0,17.0,1414624.0,642813.0,771811.0,1066114.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,521.82,4359944.0,0.51,430.0,NaN,NaN,NaN,NaN,NaN,9.0,75513.0,NaN,NaN,NaN,NaN,NaN,110440776.0,992348.0,117.0,NaN,13.0,NaN,104.7,12.1,10.2,4.7,5.5,6.4,8.1,166.8,61.7,32.1,29.6,0.7,16.3,13.3,42.5,13.8,4.8,4.9,300745.0,NaN,AT,√ñsterreich
1,AT001C,2014,613.0,54970.0,98.0,173463.0,80761.0,92702.0,NaN,NaN,NaN,311112.0,64.0,616318.0,24.0,232009.0,5.3,20.5,3.3,669.0,24.6,0.0,20.0,4775.0,20.8,23.4,NaN,NaN,NaN,NaN,NaN,132661000.0,1.3,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,87.0,11.0,19260.0,NaN,None,None,None,None,16014.0,7436.0,8578.0,9.0,865157.0,45.0,386922.0,2.0,5.0,42841.0,14.0,117357.0,21.0,181862.0,24.0,1752782.0,25549.0,32026.0,15.0,22.0,9.0,28.0,984540.0,83962.0,872148.0,8.0,66400.0,92.0,764900.0,21.0,168700.0,349700.0,313000.0,49400.0,46.0,NaN,5470.0,85.0,NaN,NaN,NaN,NaN,69.0,60.0,66.0,475673.0,55.0,438271.0,112145.0,13.0,62784.0,11.0,49361.0,12.0,101266.0,57431.0,43835.0,868199.0,449570.0,418629.0,761957.0,390369.0,371588.0,88775.0,48852.0,39923.0,4300.0,84200.0,1018087.0,47700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1766746.0,850596.0,916150.0,191932.0,90853.0,101079.0,178818.0,79748.0,99070.0,89689.0,46556.0,43133.0,86886.0,44091.0,42795.0,127819.0,62807.0,65012.0,121572.0,42446.0,79126.0,283152.0,140182.0,142970.0,255950.0,126460.0,129490.0,268516.0,134269.0,134247.0,83183.0,42670.0,40513.0,79229.0,40514.0,38715.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,1338533.0,10.0,180934.0,14.0,247279.0,24.0,68.0,1198565.0,32.0,568181.0,215824.0,352357.0,428213.0,NaN,NaN,NaN,NaN,NaN,41.05,0.97,1.71,10.72,NaN,NaN,NaN,NaN,393.49,663926.0,0.12,21.0,187991.0,48126.0,955.19,49.0,8.7,19.0,31171.0,5347986.0,8792783.0,33.0,116.0,49.0,13440328.0,70150.0,40.0,NaN,8.0,NaN,107.7,10.9,10.1,5.1,4.9,7.2,6.9,186.4,56.7,30.1,26.6,1.5,15.2,16.0,40.5,14.5,4.7,4.5,70660.0,NaN,AT001C,Wien
2,AT002C,2014,489.0,6006.0,206.0,55563.0,27311.0,28252.0,NaN,NaN,NaN,34655.0,68.0,96731.0,31.0,44395.0,5.13,21.1,1.1,756.0,27.5,0.0,19.0,5359.0,28.8,23.0,NaN,NaN,NaN,NaN,NaN,14699000.0,1.5,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,13.0,10.0,2696.0,NaN,None,None,None,None,2207.0,1062.0,1145.0,8.0,135193.0,46.0,62604.0,2.0,4.0,5312.0,13.0,17021.0,18.0,24909.0,21.0,267717.0,None,None,None,None,None,None,151324.0,19266.0,122906.0,None,None,None,None,48.0,52344.0,None,51352.0,6866.0,34.0,NaN,166.0,76.0,NaN,NaN,NaN,NaN,2.0,59.0,65.0,73178.0,54.0,66126.0,12514.0,10.0,7030.0,8.0,5484.0,9.0,14370.0,8009.0,6361.0,132609.0,69325.0,63284.0,120830.0,62726.0,58104.0,13316.0,7282.0,6034.0,1435.0,24660.0,185152.0,6545.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,269997.0,131145.0,138852.0,27505.0,12660.0,14845.0,26675.0,11688.0,14987.0,12289.0,6458.0,5831.0,13366.0,6640.0,6726.0,26261.0,12674.0,13587.0,19884.0,7071.0,12813.0,47074.0,24434.0,22640.0,36459.0,18525.0,17934.0,38340.0,19643.0,18697.0,11362.0,5774.0,5588.0,10782.0,5578.0,5204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.0,223045.0,8.0,22667.0,9.0,24285.0,17.0,78.0,210527.0,22.0,59470.0,26072.0,33398.0,46952.0,NaN,NaN,NaN,NaN,NaN,61.04,1.22,19.0,12.0,19.0,50.0,NaN,NaN,None,None,0.33,9.0,None,None,53.8,36.1,None,34.0,7967.0,1291613.0,401170.0,1.0,19.0,7.0,994040.0,7068.0,26.0,NaN,4.0,NaN,105.9,10.2,9.9,4.6,5.0,9.7,7.4,181.2,53.7,27.2,26.5,1.6,14.2,17.4,38.5,13.5,4.2,4.0,10647.0,NaN,AT002C,Graz

#### Delete some Columns

In [13]:
#See the nulls in percentage
nulls = pd.DataFrame(result_df.isna().sum(), columns=['NaN'])
nulls = nulls.sort_values('NaN', ascending = False)
nan_df=pd.merge(left=nulls,right=dictionary_df,how='left',left_index=True,right_on=['Column Name'])
nan_df=nan_df.reset_index(drop=True)
nan_df.sort_values(by='NaN',ascending=False)

,NaN,Column Name,Dataframe,Measurement unit,label
0,896,EN2029I,environment,NaN,Prop. of residents exposed to air traffic nois...
1,884,EN2032I,environment,NaN,Prop. of residents exposed to rail traffic noi...
2,880,EN2036I,environment,NaN,Prop. of residents exposed to rail traffic noi...
3,877,EN2035I,environment,NaN,Prop. of residents exposed to road traffic noi...
4,874,EN2033I,environment,NaN,Prop. of residents exposed to road traffic noi...
5,841,EC3067V,living_conditions,NaN,Share of persons at risk of poverty or social ...
6,841,EC3066V,living_conditions,NaN,Share of severely materially deprived persons -%
7,731,TE1041V,education,NaN,Share of early leavers from education and trai...
8,730,TE1040V,education,NaN,Share of early leavers from education and trai...
9,720,TE1039V,education,NaN,Share of early leavers from education and trai...
10,716,SA1052V,living_conditions,Euro/m2,Average price for buying a house per m2 - EUR
11,710,SA1053V,living_conditions,Euro/m2,Average price for buying an apartment per m2 ...
12,692,DE4004V,popnational,Absolute Number,Population with the place of residence in anot...
13,686,DE4005V,popnational,Absolute Number,Population with the place of residence outside...
14,686,DE4002V,popnational,Absolute Number,Population with the place of residence in anot...
15,677,DE4001V,popnational,Absolute Number,Population with the place of residence in the ...
16,671,DE4003V,popnational,Absolute Number,Population with the place of residence in anot...
17,611,EN3013V,environment,NaN,Share of population connected to sewerage trea...
18,590,TT1020V,transport,NaN,Average length of journey to work by private c...
19,588,EC3064V,living_conditions,NaN,Share of persons living in households with ver...
20,587,EN3011V,environment,NaN,Share of the urban waste water load (in popula...
21,585,EC3065V,living_conditions,NaN,Share of persons at risk of poverty after soci...
22,544,CR2011V,tourism,NaN,Nights spent in tourist accommodation establis...
23,544,CR2010V,tourism,NaN,Nights spent in tourist accommodation establis...
24,535,SA1049V,living_conditions,Euro/m2,Average annual rent for housing per m2 - EUR
25,513,EN3012V,environment,NaN,Share of population connected to potable drink...
26,496,EC3039V,living_conditions,NaN,Median disposable annual household income - EUR
27,495,SA1029V,living_conditions,NaN,Number of people in accommodation for the home...
28,494,EN1002V,environment,NaN,Total number of hours of sunshine per day
29,473,EN5206V,environment,NaN,Share of land (%): Agricultural areas
30,472,EN2025V,environment,NaN,Accumulated ozone concentration in excess 70 ¬µ...
31,472,EN5200V,environment,NaN,Share of land (%): Continuous residential urba...
34,471,EN5207V,environment,NaN,Share of land (%): Natural areas
35,471,EN5205V,environment,NaN,Share of land (%): Green urban areas and sport...
37,471,EN5202V,environment,NaN,"Share of land (%): Industrial, commercial, pub..."
33,471,EN5204V,environment,NaN,Share of land (%): Other artificial areas
32,471,EN5201V,environment,NaN,Share of land (%): Discontinuous residential u...
36,471,EN5203V,environment,NaN,Share of land (%): Transport infrastructure
38,465,TT1080V,transport,Euro,Cost of a combined monthly ticket (all modes o...
39,460,EN1003V,environment,NaN,Average temperature of warmest month - degrees
40,459,EN1005V,environment,NaN,Rainfall - litre/m¬≤
41,456,EN1004V,environment,NaN,Average temperature of coldest month - degrees
42,447,EC3040V,living_conditions,NaN,Average disposable annual household income - EUR
43,438,EN2027V,environment,NaN,Annual average concentration of PM10 (¬µg/m¬≥)
52,434,DE1132V,pop_age_sex,Absolute Number,"Population on the 1st of January, 75-79 years,..."
61,434,DE1125V,pop_age_sex,Absolute Number,"Population on the 1st of January, 65-69 years,..."
60,434,DE1126V,pop_age_sex,Absolute Number,"Population on the 1st of January, 65-69 years,..."
59,434,DE1127V,pop_age_sex,Absolute Number,"Population on the 1st of January, 65-69 years,..."
58,434,DE1128V,pop_age_sex,Absolute Number,"Population on the 1st of January, 70-74 years,..."
57,434,DE1129V,pop_age_sex,Absolute Number,"Population on the 1st of January, 70-74 years,..."
56,434,DE1130V,pop_age_sex,Absolute Number,"Population on the 1st of January, 70-74 years,..."
54,434,DE1134V,pop_age_sex,Absolute Number,"Population on the 1st of January, 80-84 years,..."
55,434,DE1131V,pop_age_sex,Absolute Number,"Population on the 1st of January, 75-79 years,..."
53,434,DE1101V,pop_age_sex,Absolute Number,"Population on the 1st of January, 25-29 years,..."
50,434,DE1139V,pop_age_sex,Absolute Number,"Population on the 1st of January, 85 years or ..."
49,434,DE1137V,pop_age_sex,Absolute Number,"Population on the 1st of January, 85 years or ..."
48,434,DE1138V,pop_age_sex,Absolute Number,"Population on the 1st of January, 85 years or ..."
47,434,DE1136V,pop_age_sex,Absolute Number,"Population on the 1st of January, 80-84 years,..."
46,434,DE1103V,pop_age_sex,Absolute Number,"Population on the 1st of January, 25-29 years,..."
45,434,DE1135V,pop_age_sex,Absolute Number,"Population on the 1st of January, 80-84 years,..."
44,434,DE1102V,pop_age_sex,Absolute Number,"Population on the 1st of January, 25-29 years,..."
51,434,DE1133V,pop_age_sex,Absolute Number,"Population on the 1st of January, 75-79 years,..."
77,433,DE1110V,pop_age_sex,Absolute Number,"Population on the 1st of January, 40-44 years,..."
74,433,DE1118V,pop_age_sex,Absolute Number,"Population on the 1st of January, 50-54 years,..."
75,433,DE1122V,pop_age_sex,Absolute Number,"Population on the 1st of January, 60-64 years,..."
76,433,DE1109V,pop_age_sex,Absolute Number,"Population on the 1st of January, 35-39 years,..."
72,433,DE1115V,pop_age_sex,Absolute Number,"Population on the 1st of January, 45-49 years,..."
78,433,DE1111V,pop_age_sex,Absolute Number,"Population on the 1st of January, 40-44 years,..."
79,433,DE1117V,pop_age_sex,Absolute Number,"Population on the 1st of January, 50-54 years,..."
80,433,DE1112V,pop_age_sex,Absolute Number,"Population on the 1st of January, 40-44 years,..."
81,433,DE1113V,pop_age_sex,Absolute Number,"Population on the 1st of January, 45-49 years,..."
82,433,DE1116V,pop_age_sex,Absolute Number,"Population on the 1st of January, 50-54 years,..."
73,433,DE1121V,pop_age_sex,Absolute Number,"Population on the 1st of January, 55-59 years,..."
71,433,DE1114V,pop_age_sex,Absolute Number,"Population on the 1st of January, 45-49 years,..."
65,433,DE1105V,pop_age_sex,Absolute Number,"Population on the 1st of January, 30-34 years,..."
70,433,DE1108V,pop_age_sex,Absolute Number,"Population on the 1st of January, 35-39 years,..."
63,433,DE1124V,pop_age_sex,Absolute Number,"Population on the 1st of January, 60-64 years,..."
64,433,DE1104V,pop_age_sex,Absolute Number,"Population on the 1st of January, 30-34 years,..."
62,433,DE1120V,pop_age_sex,Absolute Number,"Population on the 1st of January, 55-59 years,..."
66,433,DE1123V,pop_age_sex,Absolute Number,"Population on the 1st of January, 60-64 years,..."
67,433,DE1106V,pop_age_sex,Absolute Number,"Population on the 1st of January, 30-34 years,..."
68,433,DE1107V,pop_age_sex,Absolute Number,"Population on the 1st of January, 35-39 years,..."
69,433,DE1119V,pop_age_sex,Absolute Number,"Population on the 1st of January, 55-59 years,..."
83,432,EN2003V,environment,NaN,Number of hours nitrogen dioxide NO2 concentra...
84,431,EN2002V,environment,NaN,Number of days ozone O3 concentrations exceed ...
85,430,TT1079V,transport,Km,Length of bicycle network (dedicated cycle pat...
86,413,EN2026V,environment,NaN,Annual average concentration of NO2 (¬µg/m¬≥)
87,401,EN2005V,environment,NaN,Number of days particulate matter PM10 concent...
88,399,SA2010V,fertility_mortality,Absolute Number,Number of adolescent births (from mothers age...
89,391,SA1050V,living_conditions,Absolute figure in Euro,Average price for buying a house
90,382,EN3010V,environment,NaN,Price of a m¬≥ of domestic water - Euro
91,378,EN3003V,environment,NaN,Total use of water - m¬≥
92,376,SA1018V,living_conditions,NaN,Dwellings lacking basic amenities
93,372,SA1051V,living_conditions,Absolute figure in Euro,Average price for buying an apartment
94,371,TT1081V,transport,Euro,Cost of a taxi ride of 5 km to the centre at d...
95,371,TT1065V,transport,NaN,People commuting out of the city
96,371,TT1064V,transport,NaN,People commuting into the city
97,369,SA1012V,living_conditions,NaN,Households in social housing
98,360,TT1019V,transport,NaN,Average time of journey to work - minutes
99,340,EC2039V,NaN,NaN,NaN
100,339,CR1015V,tourism,Absolute Number,Number of public swimming pools (indoor and ou...
101,329,SA1008I,living_conditions,NaN,Proportion of households living in apartments
102,327,TT1010V,transport,NaN,Share of journeys to work by public transport ...
103,327,CR1005V,tourism,Absolute Number,Cinema attendance (per year)
104,321,TT1007V,transport,NaN,Share of journeys to work by bicycle -%
105,315,TT1006V,transport,NaN,Share of journeys to work by motor cycle -%
106,308,TT1008V,transport,NaN,Share of journeys to work by foot -%
107,308,TT1012V,transport,NaN,Share of journeys to work by car or motor cycl...
108,301,CR1008V,tourism,Absolute Number,Number of theatres
110,290,SA1008V,living_conditions,NaN,Number of households living in apartments
109,290,TE1001I,education,NaN,Number of Children 0-4 in day care (publ.&priv...
113,284,TT1003V,transport,NaN,Share of journeys to work by car -%
111,284,SA1022V,living_conditions,NaN,Average area of living accommodation - m¬≤/person
112,284,TE1001V,education,Absolute Number (monthly average of the year),Number of children 0-4 in day care or school
114,281,SA1007I,living_conditions,NaN,Proportion of households living in houses
115,247,SA1007V,living_conditions,NaN,Number of households living in houses
116,244,EN4008V,environment,1000 t,Municipal waste generated (domestic and commer...
117,240,CR1003I,tourism,NaN,Number of cinema seats per 1000 residents
118,231,CR1003V,tourism,Absolute Number,Number of cinema seats (total capacity)
119,216,CR2011I,tourism,NaN,Number of Tourist overnight stays in reg. acco...
120,214,CR2010I,tourism,NaN,Number of available beds per 1000 residents
121,209,CR1007V,tourism,Absolute Number,Number of museum visitors (per year)
122,202,SA1011I,living_conditions,NaN,Proportion of households living in owned dwell...
123,200,SA1013V,living_conditions,NaN,Households in private rented housing
124,198,SA1005V,living_conditions,NaN,Number of apartments
125,187,CR2009V,tourism,NaN,Number of bed-places in tourist accommodation ...
126,186,CR2001V,tourism,NaN,Total nights spent in tourist accommodation es...
127,179,SA1025V,living_conditions,Absolute Number,Empty conventional dwellings
129,177,DE2009I,popnational,NaN,Foreign-born as a proportion of population
128,177,DE2008I,popnational,NaN,Native-born as a proportion of population
130,164,DE2010V,popnational,Absolute Number,Foreign-born in a EU country
131,164,DE2011V,popnational,Absolute Number,Foreign-born in a non-EU country
132,164,EC1176V,labour_market,Absolute Number,"Economically active population, 20-64, female"
133,164,EC1175V,labour_market,Absolute Number,"Economically active population, 20-64, male"
134,163,DE2008V,popnational,Absolute Number,Native-born
135,163,DE2009V,popnational,Absolute Number,Foreign-born
136,162,EC1174V,labour_market,Absolute Number,"Economically active population, 20-64, total"
138,152,EC1181V,labour_market,NaN,"Persons employed, 55-64, male"
137,152,EC1182V,labour_market,NaN,"Persons employed, 55-64, female"
139,151,EC2008V,labour_market,Absolute Number,"Employment in agriculture, fishery (NACE Rev. ..."
140,149,DE3008I,living_conditions,NaN,Prop. households that are lone-pensioner house...
141,144,EC2021V,NaN,NaN,NaN
142,144,EC1177V,labour_market,Absolute Number,"Persons employed, 20-64, total"
143,143,DE3008V,living_conditions,Absolute Number,Lone pensioner (above retirement age) households
144,141,EC1178V,labour_market,Absolute Number,"Persons employed, 20-64, male"
145,141,EC1179V,labour_market,Absolute Number,"Persons employed, 20-64, female"
146,140,EC1180V,labour_market,NaN,"Persons employed, 55-64, total"
147,134,SA1011V,living_conditions,NaN,Households owning their own dwelling
148,129,SA1004V,living_conditions,NaN,Number of houses
149,127,EC2032V,labour_market,Absolute Number,"Employment in trade, transport, hotels, restau..."
150,126,EC2034V,labour_market,Absolute Number,Employment in financial and insurance activiti...
151,124,EC2033V,labour_market,Absolute Number,Employment in information and communication (N...
152,123,EC2038V,labour_market,Absolute Number,"Employment in arts, entertainment and recreati..."
153,123,EC2037V,labour_market,Absolute Number,"Employment in public administration, defence, ..."
154,123,EC2036V,labour_market,Absolute Number,"Employment in professional, scientific and tec..."
155,123,EC2035V,labour_market,Absolute Number,Employment in real estate activities (NACE Rev...
156,114,EC1001I,labour_market,NaN,Activity rate
157,104,TE2028I,education,NaN,Prop. of working age population qualified at l...
158,99,EC1020I,labour_market,NaN,Unemployment rate
159,95,TE2028V,education,Absolute Number,Persons aged 25-64 with ISCED level 3 or 4 as ...
160,95,DE3016I,living_conditions,NaN,Lone parent households per 100 households with...
161,95,EC1147V,labour_market,NaN,"Economically active population 55-64, female"
162,95,EC1002I,labour_market,NaN,"Activity rate, male"
163,95,EC1146V,labour_market,NaN,"Economically active population 55-64, male"
164,94,TE1026I,education,NaN,Share of students in higher education in the t...
165,92,EC1003I,labour_market,NaN,"Activity rate, female"
167,91,TE1027V,education,Absolute Number,Students in higher education (ISCED level 5-8)...
166,91,TE1028V,education,Absolute Number,Students in higher education (ISCED level 5-8)...
168,90,TE1026V,education,Absolute Number,Students in higher education (ISCED level 5-8)...
169,89,TE2031I,education,NaN,Prop. of working age population qualified at l...
170,88,DE3004I,living_conditions,NaN,Average size of households
171,87,DE3005I,living_conditions,NaN,Prop. of households that are lone-parent house...
172,86,DE2007I,popnational,NaN,Foreigners as a proportion of population
173,85,DE3011I,living_conditions,NaN,Proportion of households with children aged 0-17
174,82,TE2025V,education,Absolute Number,"Persons aged 25-64 with ISCED level 0, 1 or 2 ..."
175,82,DE3017V,living_conditions,Absolute Number,Population living in private households (exclu...
176,82,CR1010V,tourism,Absolute Number,Number of public libraries (all distribution p...
177,81,DE3005V,living_conditions,Absolute Number,Lone parent private households (with children ...
178,80,TE2031V,education,Absolute Number,"Persons aged 25-64 with ISCED level 5, 6, 7 or..."
179,80,DE3011V,living_conditions,Absolute Number,Households with children aged 0 to under 18
180,76,EC1011I,labour_market,NaN,"Unemployment rate, male"
181,74,EC1012I,labour_market,NaN,"Unemployment rate, female"
182,74,SA2013V,fertility_mortality,Absolute Number,Number of deaths per year under 65 due to dise...
183,74,EC1145V,labour_market,NaN,"Economically active population 55-64, total"
184,72,TT1057I,transport,NaN,Number of registered cars per 1000 population
185,69,TT1057V,transport,Absolute Number,Number of private cars registered
186,68,EC1002V,labour_market,Absolute Number,"Economically active population, male"
187,68,EC1003V,labour_market,Absolute Number,"Economically active population, female"
188,68,DE2012V,popnational,Absolute Number,Foreigners
189,67,EC2009V,labour_market,Absolute Number,"Employment in mining, manufacturing, energy (N..."
190,66,EC2022V,labour_market,Absolute Number,Employment in construction (NACE Rev. 2: F)
191,53,TT1060I,transport,NaN,People killed in road accidents per 10000 pop.
192,51,DE1058I,popstruc,NaN,Age dependency ratio (population aged 0-19 and...
193,51,DE1059I,popstruc,NaN,Young-age dependency ratio (population aged 0-...
194,48,DE1073V,popstruc,Absolute Number,Median population age
195,47,DE1061I,popstruc,NaN,Population change over 1 year
196,47,DE1084I,popstruc,NaN,Proportion of population aged 5-9 years
197,47,DE1085I,popstruc,NaN,Proportion of population aged 10-14 years
198,46,TT1060V,transport,Absolute Number,Number of deaths in road accidents
199,46,EC2020V,labour_market,Absolute Number,Total employment (work place based)
200,46,DE3002I,living_conditions,NaN,Proportion of households that are 1-person hou...
201,42,SA2004I,fertility_mortality,NaN,Infant mortality rate (per 1000 live births)
202,42,DE3001V,living_conditions,Absolute Number,Private households (excluding institutional ho...
203,41,DE3002V,living_conditions,Absolute Number,One person households
204,39,SA2004V,fertility_mortality,Absolute Number,Infant Mortality per year
205,31,SA2007I,fertility_mortality,NaN,Crude birth rate (per 1000 inhabitants)
206,31,DE2002I,popnational,NaN,EU foreigners as a proportion of population
207,30,DE2003I,popnational,NaN,Non-EU foreigners as a proportion of population
208,30,DE1075V,pop_age_sex,Absolute Number,"Population on the 1st of January, 5-9 years, male"
214,29,SA3005V,living_conditions,Absolute Number,Number of murders and violent deaths
213,29,DE1077V,pop_age_sex,Absolute Number,"Population on the 1st of January, 10-14 years,..."
212,29,DE1076V,pop_age_sex,Absolute Number,"Population on the 1st of January, 5-9 years, f..."
211,29,DE1074V,pop_age_sex,Absolute Number,"Population on the 1st of January, 5-9 years, t..."
210,29,DE1079V,pop_age_sex,Absolute Number,"Population on the 1st of January, 10-14 years,..."
209,29,DE1078V,pop_age_sex,Absolute Number,"Population on the 1st of January, 10-14 years,..."
215,28,SA2007V,fertility_mortality,Absolute Number,Number of live births per year
216,28,DE2001I,popnational,NaN,Nationals as a proportion of population
217,27,DE2002V,popnational,Absolute Number,EU foreigners
218,26,DE2003V,popnational,Absolute Number,Non-EU foreigners
219,25,DE2001V,popnational,Absolute Number,Nationals
222,11,SA2018V,fertility_mortality,Absolute Number,"Total deaths under 65 per year, female"
221,11,SA2017V,fertility_mortality,Absolute Number,"Total deaths under 65 per year, male"
220,11,SA2016V,fertility_mortality,Absolute Number,Total deaths under 65 per year
225,9,DE1060I,popstruc,NaN,Old age dependency ratio (population 65 and ov...
226,9,DE1073I,popstruc,NaN,Proportion of population aged 25-34 years
223,9,DE1076I,popstruc,NaN,Proportion of population aged 35-44 years
224,9,DE1064I,popstruc,NaN,Proportion of population aged 45-54 years
228,8,DE1028I,popstruc,NaN,Proportion of population aged 65-74 years
229,8,DE1057I,popstruc,NaN,Women per 100 men - aged 75 years and over
230,8,DE1055I,popstruc,NaN,Proportion of population aged 75 years and over
227,8,DE1025I,popstruc,NaN,Proportion of total population aged 55-64
231,7,EC1012V,labour_market,Absolute Number,"Persons unemployed, female"
237,6,DE1061V,pop_age_sex,NaN,"Population on the 1st of January, 35-44 years,..."
243,6,DE1030V,pop_age_sex,NaN,"Population on the 1st of January, 65-74 years,..."
241,6,DE1065V,pop_age_sex,NaN,"Population on the 1st of January, 45-54 years,..."
239,6,DE1063V,pop_age_sex,NaN,"Population on the 1st of January, 35-44 years,..."
238,6,DE1062V,pop_age_sex,NaN,"Population on the 1st of January, 35-44 years,..."
242,6,DE1066V,pop_age_sex,NaN,"Population on the 1st of January, 45-54 years,..."
236,6,DE1060V,pop_age_sex,NaN,"Population on the 1st of January, 25-34 years,..."
233,6,DE1059V,pop_age_sex,NaN,"Population on the 1st of January, 25-34 years,..."
235,6,EC1011V,labour_market,Absolute Number,"Persons unemployed, male"
232,6,DE1058V,pop_age_sex,NaN,"Population on the 1st of January, 25-34 years,..."
240,6,DE1064V,pop_age_sex,NaN,"Population on the 1st of January, 45-54 years,..."
234,6,SA2029I,fertility_mortality,NaN,Crude death rate (per 1000 inhabitants)

In [14]:
columns_to_drop=nan_df[nan_df['NaN']>250] # select the limit of Nan values to filter out columns with more Nans
columns_to_drop=columns_to_drop['Column Name'].tolist()
columns_to_drop
data_clean_2=result_df.drop(columns=columns_to_drop)
data_clean_2.shape

(910, 162)

In [15]:
nan_df[nan_df['NaN']>100]['Column Name']

0      EN2029I
1      EN2032I
2      EN2036I
3      EN2035I
4      EN2033I
5      EC3067V
6      EC3066V
7      TE1041V
8      TE1040V
9      TE1039V
10     SA1052V
11     SA1053V
12     DE4004V
13     DE4005V
14     DE4002V
15     DE4001V
16     DE4003V
17     EN3013V
18     TT1020V
19     EC3064V
20     EN3011V
21     EC3065V
22     CR2011V
23     CR2010V
24     SA1049V
25     EN3012V
26     EC3039V
27     SA1029V
28     EN1002V
29     EN5206V
30     EN2025V
31     EN5200V
32     EN5201V
33     EN5204V
34     EN5207V
35     EN5205V
36     EN5203V
37     EN5202V
38     TT1080V
39     EN1003V
40     EN1005V
41     EN1004V
42     EC3040V
43     EN2027V
44     DE1102V
45     DE1135V
46     DE1103V
47     DE1136V
48     DE1138V
49     DE1137V
50     DE1139V
51     DE1133V
52     DE1132V
53     DE1101V
54     DE1134V
55     DE1131V
56     DE1130V
57     DE1129V
58     DE1128V
59     DE1127V
60     DE1126V
61     DE1125V
62     DE1120V
63     DE1124V
64     DE1104V
65     DE1105V
66     DE1123V
67     DE1106V
68     DE1107V
69     DE1119V
70     DE1108V
71     DE1114V
72     DE1115V
73     DE1121V
74     DE1118V
75     DE1122V
76     DE1109V
77     DE1110V
78     DE1111V
79     DE1117V
80     DE1112V
81     DE1113V
82     DE1116V
83     EN2003V
84     EN2002V
85     TT1079V
86     EN2026V
87     EN2005V
88     SA2010V
89     SA1050V
90     EN3010V
91     EN3003V
92     SA1018V
93     SA1051V
94     TT1081V
95     TT1065V
96     TT1064V
97     SA1012V
98     TT1019V
99     EC2039V
100    CR1015V
101    SA1008I
102    TT1010V
103    CR1005V
104    TT1007V
105    TT1006V
106    TT1008V
107    TT1012V
108    CR1008V
109    TE1001I
110    SA1008V
111    SA1022V
112    TE1001V
113    TT1003V
114    SA1007I
115    SA1007V
116    EN4008V
117    CR1003I
118    CR1003V
119    CR2011I
120    CR2010I
121    CR1007V
122    SA1011I
123    SA1013V
124    SA1005V
125    CR2009V
126    CR2001V
127    SA1025V
128    DE2008I
129    DE2009I
130    DE2010V
131    DE2011V
132    EC1176V
133    EC1175V
134    DE2008V
135    DE2009V
136    EC1174V
137    EC1182V
138    EC1181V
139    EC2008V
140    DE3008I
141    EC2021V
142    EC1177V
143    DE3008V
144    EC1178V
145    EC1179V
146    EC1180V
147    SA1011V
148    SA1004V
149    EC2032V
150    EC2034V
151    EC2033V
152    EC2038V
153    EC2037V
154    EC2036V
155    EC2035V
156    EC1001I
157    TE2028I
Name: Column Name, dtype: object

There are too many columns the only columns without missing is cities and Time period. 

- With less than 50 missing we get 83 variables
- With less than 100 missing we get 119 variables
- With less than 150 missing we get 137 variables
- With less than 200 missing we get 154 variables
- With less than 250 missing we get 162 variables

I will select anyway the variables manually to get the ones that are more important. 
Also the model will have for now not so many variables. It will have variables/parameters to check between 8 and 10

In [16]:
data_clean_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 910 entries, 0 to 909
Columns: 162 entries, cities to NAME
dtypes: object(162)
memory usage: 1.1+ MB

In [17]:
data_clean_2.columns

Index(['cities', 'TIME_PERIOD', 'TE1026I', 'TE1026V', 'TE1027V', 'TE1028V',
       'TE2025V', 'TE2028I', 'TE2028V', 'TE2031I',
       ...
       'DE1061I', 'DE1064I', 'DE1073I', 'DE1073V', 'DE1076I', 'DE1084I',
       'DE1085I', 'EC2021V', 'CODE', 'NAME'],
      dtype='object', length=162)

In [18]:
nulls = pd.DataFrame(result_df.isna().sum()*100/len(result_df), columns=['percentage'])
nulls.sort_values('percentage', ascending = False)

             percentage
EN2029I       98.461538
EN2032I       97.142857
EN2036I       96.703297
EN2035I       96.373626
EN2033I       96.043956
EC3067V       92.417582
EC3066V       92.417582
TE1041V       80.329670
TE1040V       80.219780
TE1039V       79.120879
SA1052V       78.681319
SA1053V       78.021978
DE4004V       76.043956
DE4005V       75.384615
DE4002V       75.384615
DE4001V       74.395604
DE4003V       73.736264
EN3013V       67.142857
TT1020V       64.835165
EC3064V       64.615385
EN3011V       64.505495
EC3065V       64.285714
CR2011V       59.780220
CR2010V       59.780220
SA1049V       58.791209
EN3012V       56.373626
EC3039V       54.505495
SA1029V       54.395604
EN1002V       54.285714
EN5206V       51.978022
EN2025V       51.868132
EN5200V       51.868132
EN5201V       51.758242
EN5204V       51.758242
EN5207V       51.758242
EN5205V       51.758242
EN5203V       51.758242
EN5202V       51.758242
TT1080V       51.098901
EN1003V       50.549451
EN1005V       50.439560
EN1004V       50.109890
EC3040V       49.120879
EN2027V       48.131868
DE1102V       47.692308
DE1135V       47.692308
DE1103V       47.692308
DE1136V       47.692308
DE1138V       47.692308
DE1137V       47.692308
DE1139V       47.692308
DE1133V       47.692308
DE1132V       47.692308
DE1101V       47.692308
DE1134V       47.692308
DE1131V       47.692308
DE1130V       47.692308
DE1129V       47.692308
DE1128V       47.692308
DE1127V       47.692308
DE1126V       47.692308
DE1125V       47.692308
DE1120V       47.582418
DE1124V       47.582418
DE1104V       47.582418
DE1105V       47.582418
DE1123V       47.582418
DE1106V       47.582418
DE1107V       47.582418
DE1119V       47.582418
DE1108V       47.582418
DE1114V       47.582418
DE1115V       47.582418
DE1121V       47.582418
DE1118V       47.582418
DE1122V       47.582418
DE1109V       47.582418
DE1110V       47.582418
DE1111V       47.582418
DE1117V       47.582418
DE1112V       47.582418
DE1113V       47.582418
DE1116V       47.582418
EN2003V       47.472527
EN2002V       47.362637
TT1079V       47.252747
EN2026V       45.384615
EN2005V       44.065934
SA2010V       43.846154
SA1050V       42.967033
EN3010V       41.978022
EN3003V       41.538462
SA1018V       41.318681
SA1051V       40.879121
TT1081V       40.769231
TT1065V       40.769231
TT1064V       40.769231
SA1012V       40.549451
TT1019V       39.560440
EC2039V       37.362637
CR1015V       37.252747
SA1008I       36.153846
TT1010V       35.934066
CR1005V       35.934066
TT1007V       35.274725
TT1006V       34.615385
TT1008V       33.846154
TT1012V       33.846154
CR1008V       33.076923
TE1001I       31.868132
SA1008V       31.868132
SA1022V       31.208791
TE1001V       31.208791
TT1003V       31.208791
SA1007I       30.879121
SA1007V       27.142857
EN4008V       26.813187
CR1003I       26.373626
CR1003V       25.384615
CR2011I       23.736264
CR2010I       23.516484
CR1007V       22.967033
SA1011I       22.197802
SA1013V       21.978022
SA1005V       21.758242
CR2009V       20.549451
CR2001V       20.439560
SA1025V       19.670330
DE2008I       19.450549
DE2009I       19.450549
DE2010V       18.021978
DE2011V       18.021978
EC1176V       18.021978
EC1175V       18.021978
DE2008V       17.912088
DE2009V       17.912088
EC1174V       17.802198
EC1182V       16.703297
EC1181V       16.703297
EC2008V       16.593407
DE3008I       16.373626
EC2021V       15.824176
EC1177V       15.824176
DE3008V       15.714286
EC1178V       15.494505
EC1179V       15.494505
EC1180V       15.384615
SA1011V       14.725275
SA1004V       14.175824
EC2032V       13.956044
EC2034V       13.846154
EC2033V       13.626374
EC2038V       13.516484
EC2037V       13.516484
EC2036V       13.516484
EC2035V       13.516484
EC1001I       12.527473
TE2028I       11.428571
EC1020I       10.879121
TE2028V       10.439560
DE3016I       10.439560
EC1147V       10.439560
EC1002I       10.439560
EC1146V       10.439560
TE1026I       10.329670
EC1003I       10.109890
TE1028V       10.000000
TE1027V       10.000000
TE1026V        9.890110
TE2031I        9.780220
DE3004I        9.670330
DE3005I        9.560440
DE2007I        9.450549
DE3011I        9.340659
TE2025V        9.010989
DE3017V        9.010989
CR1010V        9.010989
DE3005V        8.901099
TE2031V        8.791209
DE3011V        8.791209
EC1011I        8.351648
EC1012I        8.131868
SA2013V        8.131868
EC1145V        8.131868
TT1057I        7.912088
TT1057V        7.582418
EC1002V        7.472527
EC1003V        7.472527
DE2012V        7.472527
EC2009V        7.362637
EC2022V        7.252747
TT1060I        5.824176
DE1058I        5.604396
DE1059I        5.604396
DE1073V        5.274725
DE1061I        5.164835
DE1084I        5.164835
DE1085I        5.164835
TT1060V        5.054945
EC2020V        5.054945
DE3002I        5.054945
SA2004I        4.615385
DE3001V        4.615385
DE3002V        4.505495
SA2004V        4.285714
SA2007I        3.406593
DE2002I        3.406593
DE2003I        3.296703
DE1075V        3.296703
DE1078V        3.186813
DE1079V        3.186813
DE1074V        3.186813
DE1076V        3.186813
DE1077V        3.186813
SA3005V        3.186813
SA2007V        3.076923
DE2001I        3.076923
DE2002V        2.967033
DE2003V        2.857143
DE2001V        2.747253
SA2016V        1.208791
SA2017V        1.208791
SA2018V        1.208791
DE1076I        0.989011
DE1064I        0.989011
DE1060I        0.989011
DE1073I        0.989011
DE1025I        0.879121
DE1028I        0.879121
DE1057I        0.879121
DE1055I        0.879121
EC1012V        0.769231
DE1058V        0.659341
DE1059V        0.659341
SA2029I        0.659341
EC1011V        0.659341
DE1060V        0.659341
DE1061V        0.659341
DE1062V        0.659341
DE1063V        0.659341
DE1064V        0.659341
DE1065V        0.659341
DE1066V        0.659341
DE1030V        0.659341
DE1029V        0.549451
DE1057V        0.549451
DE1055V        0.549451
DE1028V        0.549451
DE1027V        0.549451
DE1026V        0.549451
DE1025V        0.549451
DE1056V        0.549451
DE1040I        0.439560
DE1049I        0.439560
DE1046I        0.439560
SA1001V        0.439560
DE1003I        0.439560
EC1010V        0.439560
SA2020V        0.329670
SA2019V        0.329670
SA2021V        0.329670
CODE           0.109890
NAME           0.109890
DE1051V        0.109890
DE1050V        0.109890
DE1049V        0.109890
DE1048V        0.109890
DE1047V        0.109890
DE1046V        0.109890
DE1042V        0.109890
DE1041V        0.109890
DE1040V        0.109890
DE1003V        0.109890
DE1002V        0.109890
DE1001V        0.109890
TIME_PERIOD    0.000000
cities         0.000000

<div class="alert alert-block alert-warning">
<b>Output:</b> Export checkpoint 2 to a csv
</div>

In [19]:
data_clean_2.to_csv('D:\Ironhack\datos_proyecto\clean_data\cities_clean_2.csv', index=False)

Drop Turkey and Iceland and input EU Average in the rest of the countries if nulls for the selected variables. 
After that if a city has a null in a variable we will input the avg for that country. this should be the case for the indexes (variables with I at the end) and not for the  variables with V at the end (for example population)

In [127]:
#Remove Turkey Iceland and three cities from France but outside Europe
result_df=result_df[~result_df['cities'].str.contains('TR')]
result_df=result_df[~result_df['cities'].str.contains('IS')]
#Removing french cities outside Europe
result_df=result_df[result_df['cities']!="FR046C"]
result_df=result_df[result_df['cities']!="FR072C"]
result_df=result_df[result_df['cities']!="FR062C"]

In [128]:
result_df.shape

(879, 277)

In [129]:
nulls = pd.DataFrame(result_df.isna().sum()*100/len(result_df), columns=['percentage'])
nulls.sort_values('percentage', ascending = False)

             percentage
EN2029I       98.407281
EN2032I       97.042093
EN2036I       96.587031
EN2035I       96.245734
EN2033I       95.904437
EC3067V       92.150171
EC3066V       92.150171
TE1041V       79.635950
TE1040V       79.522184
TE1039V       78.384528
SA1052V       77.929465
SA1053V       77.246871
DE4004V       75.199090
DE4005V       74.516496
DE4002V       74.516496
DE4001V       73.492605
DE4003V       72.810011
EN3013V       65.984073
EN3011V       65.529010
TT1020V       63.708760
EC3064V       63.708760
EC3065V       63.139932
CR2011V       58.361775
CR2010V       58.361775
SA1049V       57.337884
EN1002V       55.517634
EN3012V       54.948805
SA1029V       53.128555
EC3039V       53.014790
EN1003V       51.763367
EN1005V       51.649602
EN1004V       51.308305
EN2025V       50.398180
EN5206V       50.284414
EN5200V       50.170648
EN5202V       50.056883
EN5207V       50.056883
EN5205V       50.056883
EN5203V       50.056883
EN5204V       50.056883
EN5201V       50.056883
TT1080V       49.374289
EC3040V       47.440273
EN2027V       46.530148
DE1130V       45.847554
DE1139V       45.847554
DE1127V       45.847554
DE1128V       45.847554
DE1129V       45.847554
DE1138V       45.847554
DE1131V       45.847554
DE1125V       45.847554
DE1132V       45.847554
DE1133V       45.847554
DE1134V       45.847554
DE1137V       45.847554
DE1136V       45.847554
DE1135V       45.847554
DE1126V       45.847554
DE1101V       45.847554
EN2003V       45.847554
DE1102V       45.847554
DE1103V       45.847554
DE1117V       45.733788
DE1118V       45.733788
EN2002V       45.733788
DE1104V       45.733788
DE1105V       45.733788
DE1106V       45.733788
DE1107V       45.733788
DE1108V       45.733788
DE1109V       45.733788
DE1110V       45.733788
DE1111V       45.733788
DE1113V       45.733788
DE1114V       45.733788
DE1115V       45.733788
DE1116V       45.733788
DE1124V       45.733788
DE1123V       45.733788
DE1122V       45.733788
DE1121V       45.733788
DE1120V       45.733788
DE1119V       45.733788
DE1112V       45.733788
TT1079V       45.392491
EN2005V       44.482366
EN2026V       43.686007
EN3010V       42.775882
EN3003V       42.548350
SA2010V       42.207053
SA1050V       40.955631
SA1018V       39.590444
TT1064V       38.907850
TT1081V       38.907850
TT1065V       38.907850
SA1051V       38.794084
SA1012V       38.680319
TT1019V       37.542662
CR1005V       36.746303
EC2039V       35.494881
CR1015V       35.381115
SA1008I       34.243458
TT1010V       34.015927
TT1007V       33.333333
TT1006V       32.650739
CR1008V       32.309443
TT1012V       31.854380
TT1008V       31.854380
TE1001I       29.806598
SA1008V       29.806598
TT1003V       29.124005
SA1022V       29.124005
TE1001V       29.124005
SA1007I       28.782708
CR1003I       26.848692
CR1003V       25.824801
SA1007V       24.914676
EN4008V       24.573379
CR1007V       23.208191
SA1011I       22.753129
SA1013V       22.525597
CR2011I       21.046644
CR2010I       21.046644
SA1005V       19.340159
CR2001V       17.974972
CR2009V       17.974972
SA1025V       17.178612
DE2009I       16.951081
DE2008I       16.951081
EC2021V       16.154721
EC1176V       15.472127
EC1175V       15.472127
DE2010V       15.472127
DE2011V       15.472127
DE2009V       15.358362
DE2008V       15.358362
EC1174V       15.244596
SA1011V       15.017065
EC1181V       14.106940
EC1182V       14.106940
EC2008V       13.993174
DE3008I       13.765643
EC1177V       13.196815
DE3008V       13.083049
EC1179V       12.855518
EC1178V       12.855518
EC1180V       12.741752
EC1001I       11.945392
SA1004V       11.490330
EC2032V       11.262799
EC2034V       11.149033
EC1020I       11.149033
EC2033V       10.921502
EC2036V       10.807736
EC2038V       10.807736
EC2035V       10.807736
EC2037V       10.807736
EC1146V       10.693970
EC1147V       10.693970
EC1002I       10.580205
TE1026I       10.466439
EC1003I       10.238908
TE1027V       10.125142
TE1028V       10.125142
TE1026V       10.011377
CR1010V        9.101251
TE2028I        8.646189
EC1011I        8.532423
EC1145V        8.304892
EC1012I        8.304892
TT1057I        7.963595
EC1002V        7.622298
TT1057V        7.622298
EC1003V        7.622298
TE2028V        7.622298
DE3016I        7.508532
EC2009V        7.394767
EC2022V        7.281001
TE2031I        6.939704
DE3004I        6.825939
DE2007I        6.598407
DE3005I        6.598407
DE3011I        6.370876
TE2025V        6.143345
DE3017V        6.143345
TE2031V        5.915813
DE3005V        5.915813
DE3011V        5.802048
EC2020V        5.005688
DE3002I        5.005688
SA2013V        5.005688
DE2012V        4.550626
DE3001V        4.550626
DE3002V        4.436860
DE2002I        3.185438
DE2003I        3.185438
SA3005V        2.957907
DE2001I        2.957907
TT1060I        2.844141
DE2003V        2.730375
DE2002V        2.730375
DE1059I        2.616610
DE1058I        2.616610
DE2001V        2.616610
DE1073V        2.275313
DE1084I        2.161547
DE1085I        2.161547
DE1061I        2.047782
TT1060V        2.047782
SA2004I        1.592719
SA2004V        1.251422
SA2018V        1.023891
SA2017V        1.023891
SA2016V        1.023891
DE1064I        0.796359
DE1073I        0.796359
DE1060I        0.796359
DE1028I        0.796359
DE1025I        0.796359
DE1057I        0.796359
DE1055I        0.796359
DE1076I        0.796359
EC1012V        0.682594
DE1030V        0.568828
EC1011V        0.568828
SA2029I        0.455063
DE1058V        0.455063
DE1056V        0.455063
DE1057V        0.455063
DE1060V        0.455063
DE1061V        0.455063
DE1062V        0.455063
DE1063V        0.455063
DE1064V        0.455063
DE1065V        0.455063
DE1066V        0.455063
DE1029V        0.455063
DE1055V        0.455063
DE1028V        0.455063
DE1027V        0.455063
DE1026V        0.455063
DE1025V        0.455063
DE1059V        0.455063
SA2007I        0.341297
EC1010V        0.341297
DE1003I        0.341297
DE1040I        0.341297
DE1046I        0.341297
DE1049I        0.341297
DE1075V        0.227531
SA1001V        0.227531
CODE           0.113766
NAME           0.113766
DE1079V        0.113766
DE1077V        0.113766
DE1076V        0.113766
DE1074V        0.113766
SA2019V        0.113766
SA2020V        0.113766
SA2021V        0.113766
DE1078V        0.113766
TIME_PERIOD    0.000000
SA2007V        0.000000
DE1001V        0.000000
DE1002V        0.000000
DE1003V        0.000000
DE1042V        0.000000
DE1040V        0.000000
DE1041V        0.000000
DE1046V        0.000000
DE1047V        0.000000
DE1048V        0.000000
DE1049V        0.000000
DE1050V        0.000000
DE1051V        0.000000
cities         0.000000

In [130]:
#See the nulls in percentage
nan_df=pd.merge(left=nulls,right=dictionary_df,how='left',left_index=True,right_on=['Column Name'])
nan_df=nan_df.reset_index(drop=True)
nan_df.sort_values(by='percentage',ascending=False)

,percentage,Column Name,Dataframe,Measurement unit,label
44,98.407281,EN2029I,environment,NaN,Prop. of residents exposed to air traffic nois...
45,97.042093,EN2032I,environment,NaN,Prop. of residents exposed to rail traffic noi...
48,96.587031,EN2036I,environment,NaN,Prop. of residents exposed to rail traffic noi...
47,96.245734,EN2035I,environment,NaN,Prop. of residents exposed to road traffic noi...
46,95.904437,EN2033I,environment,NaN,Prop. of residents exposed to road traffic noi...
92,92.150171,EC3066V,living_conditions,NaN,Share of severely materially deprived persons -%
93,92.150171,EC3067V,living_conditions,NaN,Share of persons at risk of poverty or social ...
28,79.635950,TE1041V,education,NaN,Share of early leavers from education and trai...
27,79.522184,TE1040V,education,NaN,Share of early leavers from education and trai...
26,78.384528,TE1039V,education,NaN,Share of early leavers from education and trai...
112,77.929465,SA1052V,living_conditions,Euro/m2,Average price for buying a house per m2 - EUR
113,77.246871,SA1053V,living_conditions,Euro/m2,Average price for buying an apartment per m2 ...
241,75.199090,DE4004V,popnational,Absolute Number,Population with the place of residence in anot...
239,74.516496,DE4002V,popnational,Absolute Number,Population with the place of residence in anot...
242,74.516496,DE4005V,popnational,Absolute Number,Population with the place of residence outside...
238,73.492605,DE4001V,popnational,Absolute Number,Population with the place of residence in the ...
240,72.810011,DE4003V,popnational,Absolute Number,Population with the place of residence in anot...
53,65.984073,EN3013V,environment,NaN,Share of population connected to sewerage trea...
51,65.529010,EN3011V,environment,NaN,Share of the urban waste water load (in popula...
250,63.708760,TT1020V,transport,NaN,Average length of journey to work by private c...
90,63.708760,EC3064V,living_conditions,NaN,Share of persons living in households with ver...
91,63.139932,EC3065V,living_conditions,NaN,Share of persons at risk of poverty after soci...
272,58.361775,CR2011V,tourism,NaN,Nights spent in tourist accommodation establis...
270,58.361775,CR2010V,tourism,NaN,Nights spent in tourist accommodation establis...
109,57.337884,SA1049V,living_conditions,Euro/m2,Average annual rent for housing per m2 - EUR
34,55.517634,EN1002V,environment,NaN,Total number of hours of sunshine per day
52,54.948805,EN3012V,environment,NaN,Share of population connected to potable drink...
108,53.128555,SA1029V,living_conditions,NaN,Number of people in accommodation for the home...
88,53.014790,EC3039V,living_conditions,NaN,Median disposable annual household income - EUR
35,51.763367,EN1003V,environment,NaN,Average temperature of warmest month - degrees
37,51.649602,EN1005V,environment,NaN,Rainfall - litre/m¬≤
36,51.308305,EN1004V,environment,NaN,Average temperature of coldest month - degrees
41,50.398180,EN2025V,environment,NaN,Accumulated ozone concentration in excess 70 ¬µ...
61,50.284414,EN5206V,environment,NaN,Share of land (%): Agricultural areas
55,50.170648,EN5200V,environment,NaN,Share of land (%): Continuous residential urba...
62,50.056883,EN5207V,environment,NaN,Share of land (%): Natural areas
56,50.056883,EN5201V,environment,NaN,Share of land (%): Discontinuous residential u...
57,50.056883,EN5202V,environment,NaN,"Share of land (%): Industrial, commercial, pub..."
58,50.056883,EN5203V,environment,NaN,Share of land (%): Transport infrastructure
59,50.056883,EN5204V,environment,NaN,Share of land (%): Other artificial areas
60,50.056883,EN5205V,environment,NaN,Share of land (%): Green urban areas and sport...
258,49.374289,TT1080V,transport,Euro,Cost of a combined monthly ticket (all modes o...
89,47.440273,EC3040V,living_conditions,NaN,Average disposable annual household income - EUR
43,46.530148,EN2027V,environment,NaN,Annual average concentration of PM10 (¬µg/m¬≥)
222,45.847554,DE1138V,pop_age_sex,Absolute Number,"Population on the 1st of January, 85 years or ..."
185,45.847554,DE1101V,pop_age_sex,Absolute Number,"Population on the 1st of January, 25-29 years,..."
219,45.847554,DE1135V,pop_age_sex,Absolute Number,"Population on the 1st of January, 80-84 years,..."
220,45.847554,DE1136V,pop_age_sex,Absolute Number,"Population on the 1st of January, 80-84 years,..."
221,45.847554,DE1137V,pop_age_sex,Absolute Number,"Population on the 1st of January, 85 years or ..."
187,45.847554,DE1103V,pop_age_sex,Absolute Number,"Population on the 1st of January, 25-29 years,..."
217,45.847554,DE1133V,pop_age_sex,Absolute Number,"Population on the 1st of January, 75-79 years,..."
216,45.847554,DE1132V,pop_age_sex,Absolute Number,"Population on the 1st of January, 75-79 years,..."
215,45.847554,DE1131V,pop_age_sex,Absolute Number,"Population on the 1st of January, 75-79 years,..."
214,45.847554,DE1130V,pop_age_sex,Absolute Number,"Population on the 1st of January, 70-74 years,..."
213,45.847554,DE1129V,pop_age_sex,Absolute Number,"Population on the 1st of January, 70-74 years,..."
212,45.847554,DE1128V,pop_age_sex,Absolute Number,"Population on the 1st of January, 70-74 years,..."
218,45.847554,DE1134V,pop_age_sex,Absolute Number,"Population on the 1st of January, 80-84 years,..."
211,45.847554,DE1127V,pop_age_sex,Absolute Number,"Population on the 1st of January, 65-69 years,..."
210,45.847554,DE1126V,pop_age_sex,Absolute Number,"Population on the 1st of January, 65-69 years,..."
209,45.847554,DE1125V,pop_age_sex,Absolute Number,"Population on the 1st of January, 65-69 years,..."
223,45.847554,DE1139V,pop_age_sex,Absolute Number,"Population on the 1st of January, 85 years or ..."
39,45.847554,EN2003V,environment,NaN,Number of hours nitrogen dioxide NO2 concentra...
186,45.847554,DE1102V,pop_age_sex,Absolute Number,"Population on the 1st of January, 25-29 years,..."
208,45.733788,DE1124V,pop_age_sex,Absolute Number,"Population on the 1st of January, 60-64 years,..."
207,45.733788,DE1123V,pop_age_sex,Absolute Number,"Population on the 1st of January, 60-64 years,..."
206,45.733788,DE1122V,pop_age_sex,Absolute Number,"Population on the 1st of January, 60-64 years,..."
202,45.733788,DE1118V,pop_age_sex,Absolute Number,"Population on the 1st of January, 50-54 years,..."
203,45.733788,DE1119V,pop_age_sex,Absolute Number,"Population on the 1st of January, 55-59 years,..."
204,45.733788,DE1120V,pop_age_sex,Absolute Number,"Population on the 1st of January, 55-59 years,..."
188,45.733788,DE1104V,pop_age_sex,Absolute Number,"Population on the 1st of January, 30-34 years,..."
189,45.733788,DE1105V,pop_age_sex,Absolute Number,"Population on the 1st of January, 30-34 years,..."
190,45.733788,DE1106V,pop_age_sex,Absolute Number,"Population on the 1st of January, 30-34 years,..."
191,45.733788,DE1107V,pop_age_sex,Absolute Number,"Population on the 1st of January, 35-39 years,..."
192,45.733788,DE1108V,pop_age_sex,Absolute Number,"Population on the 1st of January, 35-39 years,..."
193,45.733788,DE1109V,pop_age_sex,Absolute Number,"Population on the 1st of January, 35-39 years,..."
194,45.733788,DE1110V,pop_age_sex,Absolute Number,"Population on the 1st of January, 40-44 years,..."
195,45.733788,DE1111V,pop_age_sex,Absolute Number,"Population on the 1st of January, 40-44 years,..."
196,45.733788,DE1112V,pop_age_sex,Absolute Number,"Population on the 1st of January, 40-44 years,..."
197,45.733788,DE1113V,pop_age_sex,Absolute Number,"Population on the 1st of January, 45-49 years,..."
198,45.733788,DE1114V,pop_age_sex,Absolute Number,"Population on the 1st of January, 45-49 years,..."
199,45.733788,DE1115V,pop_age_sex,Absolute Number,"Population on the 1st of January, 45-49 years,..."
200,45.733788,DE1116V,pop_age_sex,Absolute Number,"Population on the 1st of January, 50-54 years,..."
201,45.733788,DE1117V,pop_age_sex,Absolute Number,"Population on the 1st of January, 50-54 years,..."
38,45.733788,EN2002V,environment,NaN,Number of days ozone O3 concentrations exceed ...
205,45.733788,DE1121V,pop_age_sex,Absolute Number,"Population on the 1st of January, 55-59 years,..."
257,45.392491,TT1079V,transport,Km,Length of bicycle network (dedicated cycle pat...
40,44.482366,EN2005V,environment,NaN,Number of days particulate matter PM10 concent...
42,43.686007,EN2026V,environment,NaN,Annual average concentration of NO2 (¬µg/m¬≥)
50,42.775882,EN3010V,environment,NaN,Price of a m¬≥ of domestic water - Euro
49,42.548350,EN3003V,environment,NaN,Total use of water - m¬≥
67,42.207053,SA2010V,fertility_mortality,Absolute Number,Number of adolescent births (from mothers age...
110,40.955631,SA1050V,living_conditions,Absolute figure in Euro,Average price for buying a house
105,39.590444,SA1018V,living_conditions,NaN,Dwellings lacking basic amenities
256,38.907850,TT1065V,transport,NaN,People commuting out of the city
255,38.907850,TT1064V,transport,NaN,People commuting into the city
259,38.907850,TT1081V,transport,Euro,Cost of a taxi ride of 5 km to the centre at d...
111,38.794084,SA1051V,living_conditions,Absolute figure in Euro,Average price for buying an apartment
103,38.680319,SA1012V,living_conditions,NaN,Households in social housing
249,37.542662,TT1019V,transport,NaN,Average time of journey to work - minutes
262,36.746303,CR1005V,tourism,Absolute Number,Cinema attendance (per year)
292,35.494881,EC2039V,NaN,NaN,NaN
266,35.381115,CR1015V,tourism,Absolute Number,Number of public swimming pools (indoor and ou...
99,34.243458,SA1008I,living_conditions,NaN,Proportion of households living in apartments
247,34.015927,TT1010V,transport,NaN,Share of journeys to work by public transport ...
245,33.333333,TT1007V,transport,NaN,Share of journeys to work by bicycle -%
244,32.650739,TT1006V,transport,NaN,Share of journeys to work by motor cycle -%
264,32.309443,CR1008V,tourism,Absolute Number,Number of theatres
246,31.854380,TT1008V,transport,NaN,Share of journeys to work by foot -%
248,31.854380,TT1012V,transport,NaN,Share of journeys to work by car or motor cycl...
20,29.806598,TE1001I,education,NaN,Number of Children 0-4 in day care (publ.&priv...
100,29.806598,SA1008V,living_conditions,NaN,Number of households living in apartments
243,29.124005,TT1003V,transport,NaN,Share of journeys to work by car -%
21,29.124005,TE1001V,education,Absolute Number (monthly average of the year),Number of children 0-4 in day care or school
106,29.124005,SA1022V,living_conditions,NaN,Average area of living accommodation - m¬≤/person
97,28.782708,SA1007I,living_conditions,NaN,Proportion of households living in houses
260,26.848692,CR1003I,tourism,NaN,Number of cinema seats per 1000 residents
261,25.824801,CR1003V,tourism,Absolute Number,Number of cinema seats (total capacity)
98,24.914676,SA1007V,living_conditions,NaN,Number of households living in houses
54,24.573379,EN4008V,environment,1000 t,Municipal waste generated (domestic and commer...
263,23.208191,CR1007V,tourism,Absolute Number,Number of museum visitors (per year)
101,22.753129,SA1011I,living_conditions,NaN,Proportion of households living in owned dwell...
104,22.525597,SA1013V,living_conditions,NaN,Households in private rented housing
271,21.046644,CR2011I,tourism,NaN,Number of Tourist overnight stays in reg. acco...
269,21.046644,CR2010I,tourism,NaN,Number of available beds per 1000 residents
96,19.340159,SA1005V,living_conditions,NaN,Number of apartments
267,17.974972,CR2001V,tourism,NaN,Total nights spent in tourist accommodation es...
268,17.974972,CR2009V,tourism,NaN,Number of bed-places in tourist accommodation ...
107,17.178612,SA1025V,living_conditions,Absolute Number,Empty conventional dwellings
231,16.951081,DE2008I,popnational,NaN,Native-born as a proportion of population
233,16.951081,DE2009I,popnational,NaN,Foreign-born as a proportion of population
291,16.154721,EC2021V,NaN,NaN,NaN
130,15.472127,EC1175V,labour_market,Absolute Number,"Economically active population, 20-64, male"
131,15.472127,EC1176V,labour_market,Absolute Number,"Economically active population, 20-64, female"
235,15.472127,DE2010V,popnational,Absolute Number,Foreign-born in a EU country
236,15.472127,DE2011V,popnational,Absolute Number,Foreign-born in a non-EU country
234,15.358362,DE2009V,popnational,Absolute Number,Foreign-born
232,15.358362,DE2008V,popnational,Absolute Number,Native-born
129,15.244596,EC1174V,labour_market,Absolute Number,"Economically active population, 20-64, total"
102,15.017065,SA1011V,living_conditions,NaN,Households owning their own dwelling
136,14.106940,EC1181V,labour_market,NaN,"Persons employed, 55-64, male"
137,14.106940,EC1182V,labour_market,NaN,"Persons employed, 55-64, female"
138,13.993174,EC2008V,labour_market,Absolute Number,"Employment in agriculture, fishery (NACE Rev. ..."
82,13.765643,DE3008I,living_conditions,NaN,Prop. households that are lone-pensioner house...
132,13.196815,EC1177V,labour_market,Absolute Number,"Persons employed, 20-64, total"
83,13.083049,DE3008V,living_conditions,Absolute Number,Lone pensioner (above retirement age) households
134,12.855518,EC1179V,labour_market,Absolute Number,"Persons employed, 20-64, female"
133,12.855518,EC1178V,labour_market,Absolute Number,"Persons employed, 20-64, male"
135,12.741752,EC1180V,labour_market,NaN,"Persons employed, 55-64, total"
115,11.945392,EC1001I,labour_market,NaN,Activity rate
95,11.490330,SA1004V,living_conditions,NaN,Number of houses
142,11.262799,EC2032V,labour_market,Absolute Number,"Employment in trade, transport, hotels, restau..."
144,11.149033,EC2034V,labour_market,Absolute Number,Employment in financial and insurance activiti...
125,11.149033,EC1020I,labour_market,NaN,Unemployment rate
143,10.921502,EC2033V,labour_market,Absolute Number,Employment in information and communication (N...
147,10.807736,EC2037V,labour_market,Absolute Number,"Employment in public administration, defence, ..."
148,10.807736,EC2038V,labour_market,Absolute Number,"Employment in arts, entertainment and recreati..."
146,10.807736,EC2036V,labour_market,Absolute Number,"Employment in professional, scientific and tec..."
145,10.807736,EC2035V,labour_market,Absolute Number,Employment in real estate activities (NACE Rev...
128,10.693970,EC1147V,labour_market,NaN,"Economically active population 55-64, female"
127,10.693970,EC1146V,labour_market,NaN,"Economically active population 55-64, male"
116,10.580205,EC1002I,labour_market,NaN,"Activity rate, male"
22,10.466439,TE1026I,education,NaN,Share of students in higher education in the t...
118,10.238908,EC1003I,labour_market,NaN,"Activity rate, female"
24,10.125142,TE1027V,education,Absolute Number,Students in higher education (ISCED level 5-8)...
25,10.125142,TE1028V,education,Absolute Number,Students in higher education (ISCED level 5-8)...
23,10.011377,TE1026V,education,Absolute Number,Students in higher education (ISCED level 5-8)...
265,9.101251,CR1010V,tourism,Absolute Number,Number of public libraries (all distribution p...
30,8.646189,TE2028I,education,NaN,Prop. of working age population qualified at l...
121,8.532423,EC1011I,labour_market,NaN,"Unemployment rate, male"
126,8.304892,EC1145V,labour_market,NaN,"Economically active population 55-64, total"
123,8.304892,EC1012I,labour_market,NaN,"Unemployment rate, female"
251,7.963595,TT1057I,transport,NaN,Number of registered cars per 1000 population
252,7.622298,TT1057V,transport,Absolute Number,Number of private cars registered
119,7.622298,EC1003V,labour_market,Absolute Number,"Economically active population, female"
117,7.622298,EC1002V,labour_market,Absolute Number,"Economically active population, male"
31,7.622298,TE2028V,education,Absolute Number,Persons aged 25-64 with ISCED level 3 or 4 as ...
86,7.508532,DE3016I,living_conditions,NaN,Lone parent households per 100 households with...
139,7.394767,EC2009V,labour_market,Absolute Number,"Employment in mining, manufacturing, energy (N..."
141,7.281001,EC2022V,labour_market,Absolute Number,Employment in construction (NACE Rev. 2: F)
32,6.939704,TE2031I,education,NaN,Prop. of working age population qualified at l...
79,6.825939,DE3004I,living_conditions,NaN,Average size of households
230,6.598407,DE2007I,popnational,NaN,Foreigners as a proportion of population
80,6.598407,DE3005I,living_conditions,NaN,Prop. of households that are lone-parent house...
84,6.370876,DE3011I,living_conditions,NaN,Proportion of households with children aged 0-17
87,6.143345,DE3017V,living_conditions,Absolute Number,Population living in private households (exclu...
29,6.143345,TE2025V,education,Absolute Number,"Persons aged 25-64 with ISCED level 0, 1 or 2 ..."
33,5.915813,TE2031V,education,Absolute Number,"Persons aged 25-64 with ISCED level 5, 6, 7 or..."
81,5.915813,DE3005V,living_conditions,Absolute Number,Lone parent private households (with children ...
85,5.802048,DE3011V,living_conditions,Absolute Number,Households with children aged 0 to under 18
68,5.005688,SA2013V,fertility_mortality,Absolute Number,Number of deaths per year under 65 due to dise...
77,5.005688,DE3002I,living_conditions,NaN,Proportion of households that are 1-person hou...
140,5.005688,EC2020V,labour_market,Absolute Number,Total employment (work place based)
237,4.550626,DE2012V,popnational,Absolute Number,Foreigners
76,4.550626,DE3001V,living_conditions,Absolute Number,Private households (excluding institutional ho...
78,4.436860,DE3002V,living_conditions,Absolute Number,One person households
228,3.185438,DE2003I,popnational,NaN,Non-EU foreigners as a proportion of population
226,3.185438,DE2002I,popnational,NaN,EU foreigners as a proportion of population
114,2.957907,SA3005V,living_conditions,Absolute Number,Number of murders and violent deaths
224,2.957907,DE2001I,popnational,NaN,Nationals as a proportion of population
253,2.844141,TT1060I,transport,NaN,People killed in road accidents per 10000 pop.
229,2.730375,DE2003V,popnational,Absolute Number,Non-EU foreigners
227,2.730375,DE2002V,popnational,Absolute Number,EU foreigners
282,2.616610,DE1059I,popstruc,NaN,Young-age dependency ratio (population aged 0-...
225,2.616610,DE2001V,popnational,Absolute Number,Nationals
281,2.616610,DE1058I,popstruc,NaN,Age dependency ratio (population aged 0-19 and...
287,2.275313,DE1073V,popstruc,Absolute Number,Median population age
290,2.161547,DE1085I,popstruc,NaN,Proportion of population aged 10-14 years
289,2.161547,DE1084I,popstruc,NaN,Proportion of population aged 5-9 years
254,2.047782,TT1060V,transport,Absolute Number,Number of deaths in road accidents
284,2.047782,DE1061I,popstruc,NaN,Population change over 1 year
63,1.592719,SA2004I,fertility_mortality,NaN,Infant mortality rate (per 1000 live births)
64,1.251422,SA2004V,fertility_mortality,Absolute Number,Infant Mortality per year
70,1.023891,SA2017V,fertility_mortality,Absolute Number,"Total deaths under 65 per year, male"
69,1.023891,SA2016V,fertility_mortality,Absolute Number,Total deaths under 65 per year
71,1.023891,SA2018V,fertility_mortality,Absolute Number,"Total deaths under 65 per year, female"
275,0.796359,DE1028I,popstruc,NaN,Proportion of population aged 65-74 years
280,0.796359,DE1057I,popstruc,NaN,Women per 100 men - aged 75 years and over
274,0.796359,DE1025I,popstruc,NaN,Proportion of total population aged 55-64
279,0.796359,DE1055I,popstruc,NaN,Proportion of population aged 75 years and over
285,0.796359,DE1064I,popstruc,NaN,Proportion of population aged 45-54 years
286,0.796359,DE1073I,popstruc,NaN,Proportion of population aged 25-34 years
288,0.796359,DE1076I,popstruc,NaN,Proportion of population aged 35-44 years
283,0.796359,DE1060I,popstruc,NaN,Old age dependency ratio (population 65 and ov...
124,0.682594,EC1012V,labour_market,Absolute Number,"Persons unemployed, female"
157,0.568828,DE1030V,pop_age_sex,NaN,"Population on the 1st of January, 65-74 years,..."
122,0.568828,EC1011V,labour_market,Absolute Number,"Persons unemployed, male"
174,0.455063,DE1062V,pop_age_sex,NaN,"Population on the 1st of January, 35-44 years,..."
173,0.455063,DE1061V,pop_age_sex,NaN,"Population on the 1st of January, 35-44 years,..."

i change the approach and I select variables I think are interesting for the model manually. The application shouldn¬¥t have so many variables to manipulate by the user. If not is not fun for the user.

In [131]:
#List of variables used
#features=['cities','TE2031I','TE1026I','DE1003I','DE1073V','DE3004I','EC1020I','DE3002I','TT1057I','TT1060I','DE2001I','CR2010I','SA2007I']
features=['cities','DE1001V','TE2031I','TE1026I','DE1003I','DE1073V','DE3004I','EC1020I','DE3002I','TT1057I','TT1060I','DE2001I','SA2007I']
#features=['DE1001V','DE1002V','EN1002V','EN1003V','EN1004V','EN1005V','SA1053V','EC1020I','EC1011I','EC1012I','TT1019V']
selected_df=result_df[features]
selected_df['cities_name']=result_df['NAME']

In [132]:
selected_df[selected_df['cities_name']=='Mamoudzou']

Empty DataFrame
Columns: [cities, DE1001V, TE2031I, TE1026I, DE1003I, DE1073V, DE3004I, EC1020I, DE3002I, TT1057I, TT1060I, DE2001I, SA2007I, cities_name]
Index: []

In [133]:
nulls = pd.DataFrame(selected_df.isna().sum()*100/len(selected_df), columns=['percentage'])
nulls.sort_values('percentage', ascending = False)

             percentage
EC1020I       11.149033
TE1026I       10.466439
TT1057I        7.963595
TE2031I        6.939704
DE3004I        6.825939
DE3002I        5.005688
DE2001I        2.957907
TT1060I        2.844141
DE1073V        2.275313
DE1003I        0.341297
SA2007I        0.341297
cities_name    0.113766
cities         0.000000
DE1001V        0.000000

In [134]:
selected_df.sample(10)

,cities,DE1001V,TE2031I,TE1026I,DE1003I,DE1073V,DE3004I,EC1020I,DE3002I,TT1057I,TT1060I,DE2001I,SA2007I,cities_name
582,NL036C,81683.0,34.0,32.0,105.1,44.0,2.0,4.0,35.0,431.86,0.12,95.0,9.0,Purmerend
483,IT041C,84452.0,32.0,34.0,109.1,48.0,2.0,7.0,36.0,611.64,0.71,86.0,6.0,Treviso
638,PL039C,72050.0,36.0,5.0,109.8,42.7,None,None,None,1136.21,0.14,100.0,9.0,Ostr√≥w Wielkopolski
808,UK034C,128781.0,27.0,None,103.5,41.4,2.0,5.0,30.0,492.79,0.08,92.0,12.0,Nuneaton and Bedworth
817,UK043C,99394.0,9.0,None,102.2,45.7,2.0,6.0,29.0,451.13,0.2,91.0,11.0,Great Yarmouth
144,DE070C,60388.0,30.0,69.0,103.7,45.0,2.0,4.0,45.0,37.62,0.17,86.0,10.0,Offenburg
113,DE039C,113388.0,35.0,142.0,104.2,42.5,2.0,5.0,51.0,452.85,0.26,86.0,10.0,Koblenz
908,UK134C,177310.0,42.0,93.0,107.2,43.1,2.0,5.0,35.0,434.7,0.23,95.0,10.0,Renfrewshire (Paisley)
552,NL006C,157462.0,56.0,41.0,102.4,39.0,2.0,4.0,37.0,402.26,0.13,96.0,12.0,Amersfoort
820,UK046C,99618.0,29.0,None,101.9,42.6,2.0,4.0,28.0,489.92,0.2,97.0,11.0,Cannock Chase

In [135]:
selected_df.shape

(879, 14)

In [136]:
selected_clean_df=selected_df[selected_df['cities'].str.len()!=2]

In [137]:
selected_clean_df.sample(1)

,cities,DE1001V,TE2031I,TE1026I,DE1003I,DE1073V,DE3004I,EC1020I,DE3002I,TT1057I,TT1060I,DE2001I,SA2007I,cities_name
110,DE036C,246601.0,40.0,147.0,105.4,39.8,2.0,5.0,56.0,385.5,0.2,88.0,10.0,Kiel

In [138]:
#Function to replace nan with mean in each column
def replace_nan_with_mean(df):
    # Calculate the mean of each column
    column_means = df.mean()

    # Replace NaN values with column means
    df_filled = df.fillna(column_means)

    return df_filled

#Function to replace nans with values for each country values.

#We have rows for all countries. So it make sense to replace the nans for cities with the value for each country and not the mean of all

In [139]:
countries_df = selected_df[selected_df['cities'].str.len()==2]

In [140]:
countries_df['country_cd']=countries_df['cities']
countries_df

,cities,DE1001V,TE2031I,TE1026I,DE1003I,DE1073V,DE3004I,EC1020I,DE3002I,TT1057I,TT1060I,DE2001I,SA2007I,cities_name,country_cd
0,AT,8507786.0,19.0,50.0,104.7,42.5,2.0,7.0,37.0,521.82,0.51,87.0,10.0,√ñsterreich,AT
7,BE,11554767.0,35.0,34.0,102.7,41.0,2.0,5.0,35.0,513.03,0.45,87.0,10.0,Belgique/Belgi√´,BE
23,BG,6951482.0,26.0,33.0,106.3,42.7,2.0,5.0,33.0,365.68,0.67,98.0,8.0,Bulgaria,BG
42,CH,8327126.0,37.0,39.0,102.0,42.0,2.0,5.0,35.0,543.29,0.26,75.0,11.0,Schweiz/Suisse,CH
53,CY,848300.0,33.0,29.0,105.5,None,3.0,11.0,21.0,501.27,1.16,79.0,11.0,Kypros/Kibris,CY
55,CZ,10610055.0,17.0,28.0,103.3,40.1,2.0,10.0,33.0,436.24,0.47,94.0,11.0,ƒåesk√° republika,CZ
74,DE,83155031.0,29.0,34.0,102.7,46.0,2.0,3.0,40.0,491.61,0.4,88.0,10.0,Deutschland,DE
202,DK,5602628.0,33.0,44.0,101.6,40.7,2.0,4.0,39.0,350.75,0.68,94.0,12.0,Danmark,DK
207,EE,1319133.0,40.0,35.0,112.4,41.0,2.0,5.0,40.0,418.66,0.51,85.0,11.0,Eesti,EE
211,EL,10816286.0,26.0,32.0,104.0,41.0,3.0,19.0,26.0,479.21,1.05,92.0,10.0,Hellas/Greece,EL
221,ES,46658447.0,37.0,44.0,103.9,43.6,2.0,15.0,26.0,492.55,0.39,90.0,8.0,Espa√±a,ES
320,FI,5513130.0,40.0,54.0,102.8,42.2,2.0,10.0,43.0,448.24,0.41,95.0,9.0,Suomi/Finland,FI
330,FR,66988403.0,36.0,41.0,106.8,41.0,2.0,13.0,37.0,535.6,0.51,93.0,11.0,France,FR
415,HU,9778371.0,25.0,20.0,109.3,41.0,2.0,6.0,30.0,372.44,0.58,99.0,9.0,Magyarorsz√°g,HU
435,IE,4570881.0,29.0,36.0,101.4,34.0,3.0,17.0,24.0,413.01,0.41,86.0,16.0,Ireland,IE
442,IT,59030133.0,20.0,31.0,104.8,47.0,2.0,11.0,30.0,672.27,0.49,91.0,7.0,Italia,IT
530,LT,2808901.0,42.0,40.0,116.5,43.0,2.0,6.0,32.0,437.15,0.61,99.0,10.0,Lietuva,LT
537,LU,493500.0,29.0,17.0,101.6,37.7,3.0,7.0,29.0,666.76,0.97,56.0,11.0,L√´tzebuerg/Luxembourg,LU
539,LV,1893223.0,33.0,41.0,116.3,43.0,2.0,8.0,41.0,321.97,0.77,87.0,9.0,Latvija,LV
544,MT,475701.0,27.0,32.0,97.7,40.0,2.0,4.0,27.0,630.94,0.38,86.0,9.0,Malta,MT
546,NL,17475415.0,45.0,48.0,101.2,42.0,2.0,4.0,39.0,445.6,0.28,93.0,10.0,Nederland,NL
594,NO,5051275.0,37.0,54.0,99.2,38.0,2.0,2.0,40.0,489.98,0.29,92.0,12.0,Norge,NO
599,PL,38411148.0,29.0,25.0,106.7,41.0,3.0,6.0,24.0,609.95,0.75,100.0,10.0,Polska,PL
668,PT,10352042.0,18.0,40.0,110.3,46.0,2.0,8.0,25.0,None,0.54,100.0,7.0,Portugal,PT
685,RO,22170586.0,15.0,24.0,104.8,42.0,3.0,4.0,23.0,231.22,0.88,87.0,8.0,Rom√¢nia,RO
721,SE,10120242.0,36.0,43.0,99.1,40.0,2.0,6.0,37.0,376.66,0.25,91.0,7.0,Sverige,SE
735,SI,2066880.0,30.0,37.0,101.2,43.8,2.0,9.0,33.0,521.63,0.44,94.0,9.0,Slovenija,SI
738,SK,5434712.0,20.0,26.0,104.5,41.5,3.0,7.0,21.0,447.76,0.41,99.0,10.0,Slovensk√° republika,SK
774,UK,65844142.0,None,35.0,102.7,40.1,None,5.0,30.0,None,None,95.0,11.0,United Kingdom,UK

In [141]:
countries_df.shape

(29, 15)

In [142]:
#Clean the nulls with the means of all dataset
#This was first Idea now cleaning the data with the value of each country for the cities and if there is no value the 
#mean for all dataset
#dataoutput=replace_nan_with_mean(selected_clean_df)

In [143]:
#dataoutput.sample(10)

In [144]:
#nulls = pd.DataFrame(dataoutput.isna().sum()*100/len(dataoutput), columns=['percentage'])
#nulls.sort_values('percentage', ascending = False)

In [145]:
#dataoutput.describe()

In [146]:
selected_clean_df.columns

Index(['cities', 'DE1001V', 'TE2031I', 'TE1026I', 'DE1003I', 'DE1073V',
       'DE3004I', 'EC1020I', 'DE3002I', 'TT1057I', 'TT1060I', 'DE2001I',
       'SA2007I', 'cities_name'],
      dtype='object')

In [147]:
#Clean the nulls with the value for the country
#Create country column
selected_clean_df['country_cd'] = selected_clean_df['cities'].str[:2]
df_merged = selected_clean_df.merge(countries_df, on='country_cd', how='left')
df_merged=df_merged.drop(columns=['country_cd'])
print(df_merged.columns)
columns=selected_clean_df.columns
columns = [item for item in columns if item != "country_cd"]
for feature in columns:
    df_merged[feature + '_x'] = df_merged[feature + '_x'].combine_first(df_merged[feature + '_y'])

Index(['cities_x', 'DE1001V_x', 'TE2031I_x', 'TE1026I_x', 'DE1003I_x',
       'DE1073V_x', 'DE3004I_x', 'EC1020I_x', 'DE3002I_x', 'TT1057I_x',
       'TT1060I_x', 'DE2001I_x', 'SA2007I_x', 'cities_name_x', 'cities_y',
       'DE1001V_y', 'TE2031I_y', 'TE1026I_y', 'DE1003I_y', 'DE1073V_y',
       'DE3004I_y', 'EC1020I_y', 'DE3002I_y', 'TT1057I_y', 'TT1060I_y',
       'DE2001I_y', 'SA2007I_y', 'cities_name_y'],
      dtype='object')

In [148]:
#Clean columns duplicated
columns_to_drop = [col for col in df_merged.columns if '_y' in col]
columns_to_drop
df_nan_replaced=df_merged.drop(columns=columns_to_drop)

In [149]:
columns_to_rename = [col for col in df_nan_replaced.columns if col.endswith('_x')]
new_column_names = [col.replace('_x', '') for col in columns_to_rename]
df_nan_replaced.rename(columns=dict(zip(columns_to_rename, new_column_names)), inplace=True)

In [150]:
df_nan_replaced.sample(5)

,cities,DE1001V,TE2031I,TE1026I,DE1003I,DE1073V,DE3004I,EC1020I,DE3002I,TT1057I,TT1060I,DE2001I,SA2007I,cities_name
620,PL048C,63952.0,26.0,34.0,108.6,41.5,3.0,6.0,23.0,571.41,0.16,100.0,10.0,Leszno
508,IT086C,55035.0,15.0,0.0,102.0,45.0,3.0,15.0,21.0,616.14,0.0,97.0,7.0,Trani
656,PT016C,137305.0,10.0,0.0,109.8,43.0,2.0,8.0,24.0,None,0.44,100.0,7.0,Vila Franca de Xira
64,CZ015C,71200.0,16.0,4.0,105.5,41.9,2.0,16.0,35.0,359.22,0.0,96.0,9.0,Hav√≠≈ôov
45,CH007C,115129.0,50.0,120.0,102.3,39.2,2.0,6.0,39.0,397.63,0.26,75.0,12.0,Winterthur

In [151]:
#There is still nulls clean them with the mean for all dataset
explore_data(df_nan_replaced)

There are 0 duplicate rows. Also;
             percentage
cities         0.000000
DE1001V        0.000000
TE2031I        0.235294
TE1026I        0.000000
DE1003I        0.000000
DE1073V        0.941176
DE3004I        0.235294
EC1020I        0.000000
DE3002I        0.000000
TT1057I        1.882353
TT1060I        0.823529
DE2001I        0.000000
SA2007I        0.000000
cities_name    0.000000

             NaN  EmptySpaces
cities         0            0
DE1001V        0            0
TE2031I        2            0
TE1026I        0            0
DE1003I        0            0
DE1073V        8            0
DE3004I        2            0
EC1020I        0            0
DE3002I        0            0
TT1057I       16            0
TT1060I        7            0
DE2001I        0            0
SA2007I        0            0
cities_name    0            0

there are still null that I will replace with the mean of all

In [152]:
df_nan_replaced=replace_nan_with_mean(df_nan_replaced)

In [153]:
explore_data(df_nan_replaced)

There are 0 duplicate rows. Also;
             percentage
cities              0.0
DE1001V             0.0
TE2031I             0.0
TE1026I             0.0
DE1003I             0.0
DE1073V             0.0
DE3004I             0.0
EC1020I             0.0
DE3002I             0.0
TT1057I             0.0
TT1060I             0.0
DE2001I             0.0
SA2007I             0.0
cities_name         0.0

             NaN  EmptySpaces
cities         0            0
DE1001V        0            0
TE2031I        0            0
TE1026I        0            0
DE1003I        0            0
DE1073V        0            0
DE3004I        0            0
EC1020I        0            0
DE3002I        0            0
TT1057I        0            0
TT1060I        0            0
DE2001I        0            0
SA2007I        0            0
cities_name    0            0

<div class="alert alert-block alert-warning">
<b>Output:</b> Export data for model to a csv
</div>

In [154]:
#Put the names to columns
dictionary_2 = dictionary_df.set_index('Column Name')['label'].to_dict()
df_model_output = df_nan_replaced.rename(columns=dictionary_2)
df_model_output.sample(5)

,NaN,"Population on the 1st of January, total",Prop. of working age population qualified at level 5 or 6 ISCED,Share of students in higher education in the total population (per 1000 persons),Women per 100 men,Median population age,Average size of households,Unemployment rate,Proportion of households that are 1-person households,Number of registered cars per 1000 population,People killed in road accidents per 10000 pop.,Nationals as a proportion of population,Crude birth rate (per 1000 inhabitants),cities_name
577,PL005C,536438.0,37.0,139.0,114.4,41.6,2.0,6.0,33.0,725.080000,0.48,100.0,12.0,Pozna≈Ñ
217,ES007C,459403.0,39.0,115.0,104.2,41.4,3.0,16.0,24.0,487.590000,0.17,87.0,9.0,Murcia
307,ES097C,63563.0,32.0,12.0,101.7,42.9,3.0,16.0,26.0,489.590000,0.16,89.0,8.0,Igualada
554,NL033C,177359.0,67.0,112.0,106.1,36.0,2.0,6.0,53.0,375.890000,0.06,94.0,10.0,Nijmegen
655,PT015C,156348.0,6.0,0.0,106.5,46.0,3.0,7.0,17.0,477.466571,0.64,100.0,7.0,Guimar√£es

In [155]:
df_model_output.to_csv(r'C:\Users\luisj\Desktop\Ironhack\Archivos Ejercicios\09_Final project\Data\cities_clean_model.csv', index=False)

<div class="alert alert-block alert-warning">
<b>Output:</b> Export the data for the data model to excel for Tableau
</div>

In [156]:
#Data ouput for Tableau
dataoutput_tableau = df_model_output.rename(columns=dictionary_2)
dataoutput_tableau.to_excel(r'C:\Users\luisj\Desktop\Ironhack\Archivos Ejercicios\09_Final project\Data\model_tableau.xlsx', index=False, sheet_name='dictionary')